<template>
    <section>
        <article
            :class="bigcard ? 'flex-col' : 'lg:flex-row'"
            class="flex h-full bg-white group relative rounded-lg overflow-hidden shadow-lg hover:shadow-2xl transform duration-200"
        >
            <div
                :class="bigcard ? 'lg:h-2/3 lg:w-full' : 'lg:h-full lg:w-52'"
                class="h-80 md:h-64"
            >
                <img
                    v-if="item.imgboolean"
                    :src="`/storage/${item.reg_id}/real${item.reg_id}.jpg`"
                    class="w-full h-full object-center object-cover"
                />

                <img
                    v-else
                    class="w-full h-full object-center object-cover"
                    src="/images/realdemo.png"
                />
            </div>
            <div :class="bigcard ? 'lg:w-full' : 'w-full'" class="px-3 py-4">
                <span
                    v-if="item.reg_type === 0"
                    class="py-1 bg-colA6 px-2 max-w-6/12 font-bold text-white rounded-lg"
                    href="#"
                >
                    Essentielle
                </span>
                <span
                    v-if="item.reg_type === 1"
                    class="py-1 px-2 bg-colB5 max-w-6/12 font-bold text-white rounded-lg"
                    href="#"
                >
                    Confort
                </span>
                <span
                    v-if="item.reg_type === 2"
                    class="py-1 px-2 max-w-6/12 bg-C10 font-bold text-white rounded-lg"
                    href="#"
                >
                    Premium
                </span>
                <p
                    class="text-base font-semibold text-gray-900 group-hover:text-indigo-600 t"
                >
                    <!-- ... -->
                    {{ truncate_text(item.reg_titre, 50) }}
                </p>
                <p
                    class="text-base font-semibold text-gray-900 group-hover:text-indigo-600"
                >
                    Du
                    {{ moment(item.reg_ouverture).format("DD/MM/YYYY") }}
                    au {{ moment(item.reg_fermeture).format("DD/MM/YYYY") }}
                </p>
                <p
                    class="text-base font-semibold text-gray-900 group-hover:text-indigo-600 overflow-clip"
                >
                    Statut : {{ item.regstatut }}
                </p>
            </div>
        </article>
    </section>
</template>

<script>
import moment from "moment";
export default {
    props: ["item", "bigcard"],
    data() {
        return {
            $typeoffre: "",
            moment: moment
        };
    },
    methods: {
        truncate_text(text, limit) {
            if (text.length > limit) {
                text = text.substr(0, limit) + "...";
            }
            return text;
        }
    }
};
</script>
<style></style>
