<template>
    <form action="contact" method="post">
        <input type="hidden" name="_token" v-bind:value="csrf" />
        <div class="font-semibold text-cyan800">
            <div class="w-full sm:w-1/2 md:w-full lg:w-1/2 mb-3">
                <div class="form-group mx-3">
                    <label for="name">* Nom</label>
                    <input
                        class="form-control bg-contform w-full mb-5 outline-none pl-4 pr-4 pt-2 pb-2 rounded-xl text-xl font-normal text-textdesc"
                        id="name"
                        name="name"
                        placeholder="Nom"
                        required
                        data-error="Veuillez saisir votre nom."
                        type="text"
                        v-model="fields.name"
                    />
                </div>
            </div>
            <div class="flex flex-row">
            <div class="w-full sm:w-1/2 md:w-full lg:w-1/2 mb-3">
                <div class="form-group mx-3">
                    <label for="email">* E-mail</label>
                    <input
                        class="form-control bg-contform w-full mb-5 outline-none pl-4 pr-4 pt-2 pb-2 rounded-xl text-xl font-normal text-textdesc"
                        id="email"
                        name="email"
                        placeholder="Email"
                        required
                        data-error="Veuillez saisir votre adresse e-mail."
                        type="email"
                        v-model="fields.email"
                    />
                </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-full lg:w-1/2 mb-3">
                <div class="form-group mx-3">
                    <label for="name">* Téléphone</label>
                    <input
                        class="form-control bg-contform w-full mb-5 outline-none pl-4 pr-4 pt-2 pb-2 rounded-xl text-xl font-normal text-textdesc"
                        id="phone"
                        name="phone"
                        placeholder="Téléphone"
                        required
                        data-error="Veuillez saisir votre numéro de téléphone."
                        type="number"
                        v-model="fields.phone"
                    />
                </div>
            </div>
            </div>
            <div class="w-full mb-3">
                <div class="form-group mx-3">
                    <label for="name">* Objet</label>
                    <input
                        class="form-control bg-contform w-full mb-5 outline-none pl-4 pr-4 pt-2 pb-2 rounded-xl text-xl font-normal text-textdesc"
                        id="subject"
                        name="subject"
                        placeholder="Objet"
                        required
                        data-error="Veuillez saisir votre objet."
                        type="text"
                        v-model="fields.subject"
                    />
                </div>
            </div>
            <div class="w-full mb-3">
                <div class="form-group mx-3">
                    <label for="name">* Message</label>
                    <textarea
                        class="form-control bg-contform w-full mb-5 outline-none pl-4 pr-4 pt-2 pb-2 rounded-xl text-xl font-normal text-textdesc"
                        id="message"
                        name="content"
                        placeholder="Votre Message"
                        rows="5"
                        required
                        data-error="Veuillez saisir un message. "
                        v-model="fields.content"
                    ></textarea>
                </div>
            </div>
            <div class="w-full">
                <div class="submit-button m-3 md:py-4 text-center">
                    <button class="btn_blue" id="form-submit" type="submit">
                        Envoyer
                    </button>
                </div>
            </div>
        </div>
    </form>
</template>
<script>
export default {
    data() {
        return {
            csrf: document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content"),
            fields: {}
        };
    }
};
</script>
