<template>
    <section class="contactC">
        <section id="contact" class="py-24">
            <div class="container">
                <div class="text-left">
                    <h4 class="mb-8 conttitre">Contact</h4>
                </div>
                <div
                    class="flex flex-wrap contact-form-area wow fadeInUp bg-"
                    data-wow-delay="0.4s"
                >
                    <div class="w-full md:w-2/3 pt-0">
                        <div class="contact">
                            <contact-form></contact-form>
                        </div>
                    </div>
                    <!-- Map Section Start -->
                    <div class="w-full md:w-1/3 pt-0">
                        <div class="ml-3 md:ml-12 wow fadeIn pt-0">
                            <div>
                                <div
                                    id="map"
                                    class="w-full shadow-lg bg-white rounded-3xl"
                                >
                                    <div class="flex">
                                        <div id="carte" class="w-full">
                                            <iframe
                                                class="w-full rounded-t-3xl"
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.480076153374!2d2.2587309159037012!3d48.88718730663227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6656d91515cdb%3A0xd5679135ff661886!2s14%20Rue%20Beffroy%2C%2092200%20Neuilly-sur-Seine!5e0!3m2!1sfr!2sfr!4v1631622049452!5m2!1sfr!2sfr"
                                                width="600"
                                                height="450"
                                                style="border:0;"
                                                allowfullscreen=""
                                                loading="lazy"
                                            ></iframe>
                                        </div>
                                    </div>
                                    <div class="m-auto w-11/12 pb-8 pt-8">
                                        <section
                                            class="flex flex-row justify-around items-start text-center"
                                        >
                                            <article
                                                class="bloc-second"
                                            >
                                                <p class="text-left">
                                                    <i
                                                        class="lni lni-pin fill-current text-blue-400 mr-2"
                                                    ></i
                                                    >14 rue Beffroy,
                                                    Neuilly-Sur-Seine-France
                                                </p>
                                            </article>
                                            <article
                                                class="bloc-second text-center"
                                            >
                                                <p class="text-left">
                                                    <i
                                                        class="lni lni-train-alt fill-current text-blue-400 mr-2"
                                                    ></i
                                                    >Pont de Neuilly
                                                </p>
                                            </article>
                                        </section>
                                        <section
                                            class="flex flex-row justify-around items-start text-center mt-4"
                                        >
                                            <article
                                                class="bloc-second text-center"
                                            >
                                                <p class="text-left">
                                                    <i
                                                        class="lni lni-phone fill-current text-blue-400 mr-2"
                                                    ></i
                                                    >01 49 04 01 52
                                                </p>
                                            </article>
                                            <article
                                                class="bloc-second text-center"
                                            >
                                                <p class="text-left">
                                                    <i
                                                        class="lni lni-calendar fill-current text-blue-400 mr-2"
                                                    ></i
                                                    >Ouvert du lundi au vendredi de 9:00 à 17:45
                                                </p>
                                            </article>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>

<script>
export default {};
</script>

<style></style>
