<template>
    <section class="">
      <article class="flex flex-row justify-center items-start font-bold text-blue-900 text-4xl mb-16">
            <h1>Demande de devis</h1>
        </article>
        <section class="h-auto flex flex-col items-center gap-5 md:flex md:flex-row md:items-center md:justify-between">
            <form id="subscribeForm" action="" method="post">
              <input type="hidden" name="_token" v-bind:value="csrf">
              <section class="flex flex-col items-center gap-5 md:flex md:flex-row md:items-center md:justify-between" data-wow-delay="0.4s">
                <div class="top-0 w-full md:w-2/3 sm:w-2/3 wow fadeInDown animated flex flex-col gap-5 bg-white rounded-2xl shadow-lg p-4">
                  <article class="text-center font-medium text-blue-900 text-2xl">
                    <h1>Votre Registre</h1>
                  </article>
                  <!-- Offer choice div starts -->

                  <div class="form-group radio pl-0"> 
                    <article class="bloc-second text-center">
                      <p class="text-left">
                          Où souhaitez-vous héberger vos documents de l'enquête ?
                      </p>
                    </article>

                    <!-- Essential Offer div starts -->
                    <div class="md:w-full" id="ess_div">
                      <div class="mx-3 mb-3">
                        <input @click = "p=0; adv='e'; check(p);" class="form-control" type="radio" id="ess_offer_radio" name="offer" value="essentiel"  required v-model="fields.offer">
                        <label>
                          <article class="bloc-second inline text-center text-sm">
                            <p class="inline text-left">
                              Vous disposez d'un site pouvant héberger les documents de l'enquête et vous avez simplement besoin d'un registre dématérialisé
                            </p>
                          </article>
                        </label>
                      </div>                                 
                    </div>
                    <!-- Essential Offer div ends -->

                    <!-- Perf and Premium Offers div starts -->
                    <div class="md:w-full">
                      <div class="mx-3 mb-3">
                        <input @click="p=1; check(p);" class="form-control" type="radio" id="p_offer_radio" name="others" value="p_offers" v-model="fields.other_offer">
                        <article class="bloc-second inline text-center text-sm">
                            <p class="inline text-left">
                              Créer un site pour présenter l'enquête publique et y inclue un regsitre dématerialisé
                            </p>
                          </article>
                      </div>                                 
                    </div>
                    <!-- Perf and Premium Offers div ends -->
                    <div class="md:w-full">
                      <div :class="p==1?'':'hidden'" id="perfpremdiv">
                        <article class="bloc-second text-center">
                          <p class="text-left">
                              Souahitez-vous un nom de domaine dédié ?
                          </p>
                        </article>
                        <div class="ml-9 mr-3 mb-3">
                          <input @click="adv='pre';" type="radio" id="prem_offer_radio" name="offer" value="premium"  v-model="fields.offer" >
                          <article class="bloc-second inline text-center text-sm">
                            <p class="inline text-left">
                              Oui je souhaite un nom de domaine dédié (exemple : https://www.<strong>nom-projet</strong>.fr).
                            </p>
                          </article>
                        </div> 
                        <div class="ml-9 mr-3 mb-3">
                          <input @click="adv='per';" type="radio" id="perf_offer_radio" name="offer" value="performance"  v-model="fields.offer" >
                          <article class="bloc-second inline text-center text-sm">
                            <p class="inline text-left">
                              Non, je préfère une adresse générique (exemple : https://www.registredemat.fr/nom-projet).
                            </p>
                          </article>
                        </div>  
                      </div>                              
                    </div>
                    <!-- Perf and Premium details div ends -->
                  </div>
                  <!-- Offer choice div ends -->

                  <!-- Adviced Offer div starts -->
                  <div id="adviced_offer">
                    <div :class="adv=='e'?'':'hidden'" id="adviced_ess">
                      <h2>L'offre qui vous correspond : </h2>
                      <h3 class="text-sm text-gray-500 pb-2">
                        <a class="bg-colA6 py-1 px-2 text-white rounded-lg">
                          <span>Essentiel</span>
                          
                        </a>
                      </h3>
                    </div>
                    <div :class="adv=='per'?'':'hidden'" id="adviced_perf">
                      <h2>L'offre qui vous correspond : </h2>
                      <h3 class="text-sm text-gray-500 pb-2">
                        <a class="bg-colB5 py-1 px-2 text-white rounded-lg">
                          <span>Performance</span>
                          
                        </a>
                      </h3>
                    </div>
                    <div :class="adv=='pre'?'':'hidden'" id="adviced_prem">
                      <h2>L'offre qui vous correspond : </h2>
                      <h3 class="text-sm text-gray-500 pb-2">
                        <a class="bg-C10 py-1 px-2 text-white rounded-lg">
                          <span>Premium</span>
                          
                        </a>
                      </h3>
                    </div>
                  </div>
                  <!-- Adviced Offer div ends -->
                  
                  <!-- EP type div starts -->
                  <div class="md:w-full">
                    <div class="mx-3 md:py-3 mb-3">
                      <label for="name">* <h1 class="font-semibold inline">Type d'enquête publique concerné</h1> (PLU, PEB, PSA,...)</label>
                      <input type="text" class="form-control form-input rounded-full text-black" id="survtype" name="survtype" placeholder="" required data-error="Veuillez entrer le type d'enquête publique concerné" v-model="fields.type" >
                    </div>                                 
                  </div>
                  <!-- EP type div ends -->

                  <!-- Other info div starts -->
                  <div class="md:w-full">
                    <div class="mx-3 mb-3"> 
                      <label for="otherinfos">Autres informations que vous souhaitez communiquer</label>
                      <textarea class="form-input rounded-lg text-black" id="otherinfos" name="otherinfos" placeholder="" rows="5" data-error="" required v-model="fields.other" ></textarea>
                    </div>
                  </div>
                  <!-- Other info div ends -->
                </div>
                <div class="top-0 w-full md:w-1/3 sm:w-1/3 wow fadeInDown animated flex flex-col gap-5 bg-white rounded-2xl shadow-lg p-4">
                  <article class="text-center font-medium text-blue-900 text-2xl">
                    <h1>Vos informations</h1>
                  </article>
                  <div class="md:w-full">
                    <div class="form-group mx-3">
                      <label for="name">* Nom</label>
                      <input type="text" class="form-control form-input rounded-full text-black" id="name" name="name" placeholder="Nom" required data-error="Veuillez entrer votre nom" v-model="fields.name" >
                    </div>                                 
                  </div>
                  <div class="md:w-full">
                    <div class="form-group mx-3">
                      <label for="firstname">* Prénom </label>
                      <input type="text" class="form-control form-input rounded-full text-black" id="firstname" name="firstname" placeholder="Prénom" required data-error="Veuillez entrer votre prénom" v-model="fields.firstname" >
                    </div>                                 
                  </div>
                  <div class="md:w-full">
                    <div class="form-group mx-3">
                      <label for="fonction">* Fonction + Société </label>
                      <input type="text" class="form-control form-input rounded-full text-black" id="function" name="fonction" placeholder="Fonction + Société" required data-error="Veuillez entrer votre votre fonction et société. " v-model="fields.function" >
                    </div>                                 
                  </div>
                  <div class="md:w-full">
                    <div class="form-group mx-3">
                      <label for="email">* E-mail</label>
                      <input type="email" placeholder="Email" id="email" class="form-control form-input rounded-full text-black" name="email" required data-error="Please enter your email" v-model="fields.email" >
                    </div> 
                  </div>
                  <div class="md:w-full">
                    <div class="form-group mx-3">
                      <label for="phone">* Téléphone</label>
                      <input type="number" placeholder="Téléphone" id="phone" class="form-control form-input rounded-full text-black" name="phone" required data-error="Please enter your phone number" v-model="fields.phone" >
                    </div> 
                  </div>
                </div>
              </section>
              <div class="md:w-full">
                <div class="submit-button m-3 md:py-4 text-center">
                  <input class="btn_orange" id="form-submit" type="submit" value="Demander">
                </div>
              </div>
            </form>
        </section>
    </section>
</template>
<script>
export default {
  data() {
    return {
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      fields: {}, 
      p: 0,
      adv : '', 
    }
  }, 
  methods: {
    //this function cheks that ess_offer_radio & p_offer_radio inputs are not cheked both 
    check(p)
    {
      const $p_offer_radio = document.querySelector("#p_offer_radio"); 
      const $ess_offer_radio = document.querySelector("#ess_offer_radio"); 
      if(p==0)
      {
        if($p_offer_radio.checked == true)
        {
          $p_offer_radio.checked = false; 
        }
      }
      else 
      {
        if($ess_offer_radio.checked == true)
        {
          $ess_offer_radio.checked = false; 
        }
      }
    }, 

  },
}
</script>