<template>
  <div class="container" id="ep">
    <div class="animated bg-white fadeInDown flex-wrap mb-3 top-0 rounded-2xl shadow-lg p-4 w-full wow">
      <!-- EP nav div starts -->
      <div class="epnav flex-wrap gap-5 grid grid-flow-row md:grid-flow-col sm:grid-flow-col">
        <a @click="show=1" :class="show==1?'border-b-2 border-yellow-600 font-bold rounded-lg text-2xl':'font-semibold text-xl'" class="bg-transparent auto-col-auto cursor-pointer md:auto-row-auto sm:auto-row-auto text-blue-900 text-center w-full">Déroulement</a>
        <a @click="show=2" :class="show==2?'border-b-2 border-yellow-600 font-bold rounded-lg text-2xl':'font-semibold text-xl'" class="bg-transparent auto-col-auto cursor-pointer md:auto-row-auto sm:auto-row-auto text-blue-900 text-center text-xl w-full">Cadre</a>
        <a @click="show=3" :class="show==3?'border-b-2 border-yellow-600 font-bold rounded-lg text-2xl':'font-semibold text-xl'" class="bg-transparent auto-col-auto cursor-pointer md:auto-row-auto sm:auto-row-auto text-blue-900 text-center text-xl w-full">Tout savoir</a>
        <a @click="show=4" :class="show==4?'border-b-2 border-yellow-600 font-bold rounded-lg text-2xl':'font-semibold text-xl'" class="bg-transparent auto-col-auto cursor-pointer md:auto-row-auto sm:auto-row-auto text-blue-900 text-center text-xl w-full">Notre service</a>
      </div>
      <!-- EP nav div ends -->
      
    </div>
    <div class="animated bg-white fadeInDown flex-wrap mb-16 top-0 rounded-2xl shadow-lg p-4 w-full wow">
      <!-- Deroulement div starts -->
      <div v-if="show === 1" class="bg-transparent border-2 rounded-lg">
        <div class="pt-4">
          <h4 class="mb-8 text-center font-bold text-center text-4xl text-blue-900 wow fadeInUp animated" data-wow-delay="0.3s">Déroulement</h4>
          <div class="w-full pt-0 text-4xl wow fadeInUp animated">
            <img class="mr-auto ml-auto" src="images/enquete_publique/procedure-schema.jpg" alt="illustration de la procédure du déroulement de l'enquête publique">
          </div>
          <!-- Légende du déroulement de l'enquête publique div starts -->
          <div class="container w-full pt-0 pb-2">
            <div class="blog">
              <div class="blog_main col-md-6 space-y-4">
                <div class="p-2 bg-gray-100 border-l-8 border-gray-700 text-justify">
                  <span class="shadow-lg bg-gray-700 text-white rounded-full text-sm font-bold px-3 py-2">1</span> L’autorité compétente, pour prendre la décision en vue de laquelle l’enquête est requise, planifie le projet (Ministère, Préfecture, Le Maire, DRIEA, DREAL…). L’État demeure compétent, dans le cadre de l’expropriation, pour la déclaration d’utilité publique. (Art L.123-3).
                </div>
                <div class="p-2 bg-gray-100 border-l-8 border-pink-700 text-justify">
                  <span class="shadow-lg bg-pink-700 text-white rounded-full text-sm font-bold px-3 py-2">2</span> L’autorité compétente rédige le dossier d’enquête publique. Ce dossier explicatif est complété de nombreux avis (commissions, autorités..), d’expertises et études, de photos, plans…Afin de rendre disponible la meilleure information.
                </div>
                <div class="p-2 bg-gray-100 border-l-8 border-lime500 text-justify">
                  <span class="shadow-lg bg-lime500 text-white rounded-full text-sm font-bold px-3 py-2">3</span> Une commission d’enquête est nommée, habituellement plusieurs membres selon l’importance de l’enquête dont un Président. Membre de la Compagnie Nationale des Commissaires Enquêteurs (CNCE), ils sont choisis dans une liste départementale, régionale ou nationale par l’autorité compétente (Préfecture, le Maire, Président du tribunal administratif).
                </div>
                <div class="p-2 bg-gray-100 border-l-8 border-yellow-400 text-justify">
                  <span class="shadow-lg bg-yellow-400 text-white rounded-full text-sm font-bold px-3 py-2">4</span>	Ouverture de l’enquête, d’une durée de 30 à 60 jours. Elle s’opère par arrêté préfectoral, par un conseil général ou régional ou une commune.
                </div>
                <div class="p-2 bg-gray-100 border-l-8 border-green-400 text-justify">
                  <span class="shadow-lg bg-green-400 text-white rounded-full text-sm font-bold px-3 py-2">5</span> Les mesures de publicité : Un avis portant les indications mentionnées à l'article R. 123-9 (Objet, lieu, durée, commission d’enquête) à la connaissance du public est publié en caractères apparents quinze jours au moins avant le début de l'enquête et rappelé dans les huit premiers jours de celle-ci dans deux journaux régionaux ou locaux diffusés dans le ou les départements concernés. Pour les projets, plans ou programmes d'importance nationale, cet avis est, en outre, publié dans deux journaux à diffusion nationale quinze jours au moins avant le début de l'enquête.
                    <br />L’information du public est assurée par tous moyens appropriés, notamment par voie d’affichage sur les lieux concernés par l’enquête, par voie de publication locale, mairies et panneaux administratifs, ou par voie électronique.
                </div>
                <div class="p-2 bg-gray-100 border-l-8 border-sky600 text-justify">
                  <span class="shadow-lg bg-sky600 text-white rounded-full text-sm font-bold px-3 py-2">6</span> La consultation du public : La durée de l’enquête publique ne peut être inférieure à trente jours, et peut être prolongée de 30 jours par le commissaire enquêteur. Le public peut consulter le dossier d’enquête et peut déposer ses observations par 4 moyens :
                  <ul>
                    <li>Sur un registre dématérialisé, habituellement accessible sur le site de l’enquête publique,</li>
                    <li>Par écrit sur un registre « papier », déposé dans les mairies et préfectures,</li>
                    <li>Auprès de la commission d’enquête pendant ses heures de permanence,</li>
                    <li>Par courrier postal à la commission d’enquête ou Préfet.</li>
                    <li>Par courriel dont l'adresse est indiquée dans l'arrêté.</li>
                  </ul>
                </div>
                <div class="p-2 bg-gray-100 border-l-8 border-amber500 text-justify">
                  <span class="shadow-lg bg-amber500 text-white rounded-full text-sm font-bold px-3 py-2">7</span>	Le rapport du commissaire enquêteur. Le commissaire enquêteur ou la commission d’enquête rend son rapport et ses conclusions motivées dans un délai de trente jours à compter de la fin de l’enquête. Si ce délai ne peut être respecté, un délai supplémentaire peut être accordé à la demande du commissaire enquêteur ou de la commission d’enquête par l’autorité compétente pour organiser l’enquête, après avis du responsable du projet. « Le rapport doit faire état des contre-propositions qui ont été produites durant l’enquête ainsi que des réponses éventuelles du maître d’ouvrage. Le rapport et les conclusions motivées sont rendus publics.
                </div>
                <div class="p-2 bg-gray-100 border-l-8 border-indigo-300 text-justify">
                  <span class="shadow-lg bg-indigo-300 text-white rounded-full text-sm font-bold px-3 py-2">8</span> La décision de l’autorité compétente. Tout projet d’une collectivité territoriale ou d’un établissement public de coopération intercommunale ayant donné lieu à des conclusions défavorables du commissaire enquêteur ou de la commission d’enquête doit faire l’objet d’une délibération motivée réitérant la demande d’autorisation ou de déclaration d’utilité publique de l’organe délibérant de la collectivité ou de l’établissement de coopération concerné. La nouvelle délibération de l’organe délibérant de la collectivité territoriale doit, dorénavant, être motivée. Il s’agit d’une meilleure prise en compte de la participation du public.
                </div>
              </div>
            </div>
          </div>
          <!-- Legende du déroulement de l'enquête publique div ends -->
        </div>
      </div>
      <!-- Deroulement div ends -->

      <!-- Cadre div starts -->
      <div v-if="show === 2" class="bg-transparent border-2 rounded-lg">
        <div class="pt-4">
          <div class="container text-justify">
            <h4 class="mb-8 text-center font-bold text-center text-4xl text-blue-900 wow fadeInUp animated" data-wow-delay="0.3s">Cadre Légal</h4>
            <h2 class="font-bold text-lg uppercase text-yellow-600 mt-8 wow fadeInUp animated"><a href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000034491833" target="blank">Décret n° 2017-626 du 27 Avril 2017</a></h2>
            <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Enfin ! Et plus vite que prévu, le décret visant l’enquête publique dématérialisée est paru au JORF du 27 avril 2017, pour une application le 28 avril 2017.</p>
            <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">L’ordonnance 2016-1060 publiée le 3 aout 2016 a réformé les procédures destines à assurer l’information et la participation du public à l’élaboration de certaines décisions susceptibles d’avoir une incidence sur l’environnement. Elle est entrée en vigueur au 1er janvier 2017. Avouons qu’elle portait à confusion sur de nombreux points.</p>
            <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Le décret n° 2017-626 du 25 avril 2017 relatif aux procédures destinées à assurer l’information et la participation du public à l’élaboration de certaines décisions susceptibles d’avoir une incidence sur l’environnement et modifiant diverses dispositions relatives à l’évaluation environnementale de certains projets, plans et programmes entre en vigueur le 28 avril 2017.</p>
            <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Il complète certains points de l’ordonnance 2016-1060 et en supprime d’autres.</p>
          </div>
          <div class="container text-justify">
            <h2 class="font-bold text-lg uppercase text-yellow-600 mt-8 wow fadeInUp animated"><a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000032966914/" target="blank">L’ordonnance n° 2016-1060 du 3 août 2016 </a></h2>
            <h2 class="font-bold text-lg wow fadeInUp animated"> portant réforme des procédures destinées à assurer l’information et la participation du public à l’élaboration de certaines décisions susceptibles d’avoir une incidence sur l’environnement.</h2>
            <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Entrée en vigueur le 1er janvier 2017, cette ordonnance généralise la dématérialisation de l’enquête publique mettant ainsi les procédures en conformité avec les évolutions technologiques de la société et les pratiques des citoyens.</p>
            <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Ainsi, le public doit pouvoir faire parvenir ses observations et propositions pendant la durée de l’enquête par courrier électronique de façon systématique. Celles-ci sont accessibles sur un site internet désigné par voie réglementaire : c’est l’instauration du registre d’enquête dématérialisé.</p>
            <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Le code de l’environnement ainsi modifié pose le principe de l’information du public par voie dématérialisée, tout en maintenant l’information par voie d’affichage et de publication papier (article L. 123-10 du code de l’environnement).</p>
            <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Le dossier d'enquête publique est mis en ligne pendant toute la durée de l'enquête. Il reste consultable, pendant cette même durée, sur support papier en un ou plusieurs lieux déterminés dès l'ouverture de l'enquête publique. Un accès gratuit au dossier est également garanti par un ou plusieurs postes informatiques dans un lieu ouvert au public (article L. 123-12 du code de l’environnement).</p>
            <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">L’avis d’enquête publique doit donc contenir l’adresse internet où le dossier d’enquête peut être consulté en ligne, ainsi que l’adresse du site internet du registre dématérialisé.</p>
            <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Le décret d’application qui précise les modalités de cette grande réforme est imminent, il est pour l’heure, soumis à consultation du public qui peut formuler ses observations jusqu’au 3 mars 2017.</p>
          </div>
          <div class="container text-justify">
            <h2 class="font-bold text-lg mt-8 wow fadeInUp animated">Loi n° 2010-788 du 12 juillet 2010 portant Engagement National pour l'Environnement (ENE), dite Loi Grenelle II et son </h2>
            <h2 class="inline font-bold text-lg uppercase text-yellow-600 wow fadeInUp animated"><a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000025053908/" target="blank">décret d'application n°2011-2018 du 29 décembre 2011.</a></h2>
            <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">L’esprit de la réforme de l’enquête publique est déjà de simplifier les procédures et d’assurer l’information et la participation des citoyens et ce, bien en amont du projet.</p>
            <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Le public doit disposer d’une information complète sur le projet, plan ou programme et doit pouvoir participer au processus de décision en lui permettant de présenter des observations et propositions.</p>
            <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">C’est la Loi Grenelle II qui ouvre la voie numérique pour les enquêtes publiques en son article 236 : « dans les conditions fixées par décret en Conseil d'Etat, la participation du public peut s'effectuer par voie électronique ».</p>
            <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Il est ainsi prévu que les observations, propositions et contre-propositions peuvent également être adressées au commissaire enquêteur ou au président de la commission d'enquête selon les moyens de communication électronique indiqués dans l'arrêté d'ouverture de l'enquête.</p>
            <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">C’est également elle qui impose que l’avis d’enquête publique soit publié sur le site internet de la préfecture du département, en plus des deux journaux régionaux ou locaux diffusés dans le ou les départements concernés.</p>
            <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Il est enfin prévu que les communes concernées par le projet et qui n’ont pas été désignées comme lieu d'enquête, doivent se voir communiquer l'adresse du site internet où l'intégralité du dossier soumis à enquête peut être téléchargé.</p>
          </div>
          <div class="text-center m-8 space-y-8">
            <p data-wow-delay="0.6s" class="mb-1 text-gray-600 leading-6 text-base wow fadeInUp">Registredemat.fr est là pour vous accompagner dans la mise en place de ces nouveaux outils.</p>
            <p data-wow-delay="0.6s" class="mb-1 text-gray-600 leading-6 text-base wow fadeInUp">Grâce à notre solution informatique simple et intuitive, vous créez désormais votre registre d’enquête en ligne en quelques clics !</p>
          </div>
          <div class="flex flex-wrap">
            <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/3">
              <div class="m-4 wow fadeInRight animated" data-wow-delay="1.5s" style="visibility: visible;-webkit-animation-delay: 1.5s; -moz-animation-delay: 1.5s; animation-delay: 1.5s;">
                <div class="text-blue-900 text-5xl">
                  <i class="lni lni-thumbs-up"></i>
                </div>
                <div>
                  <h3 class="service-title">UTILISATION SIMPLE</h3>
                  <p class="text-gray-600">Prise en main et appropriation rapide de l’outil par le commissaire enquêteur, maître d’ouvrage ou organisme référent.</p>
                </div>
              </div>
            </div>
            <!-- Services item -->
            <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/3">
              <div class="m-4 wow fadeInRight animated" data-wow-delay="1.8s" style="visibility: visible;-webkit-animation-delay: 1.8s; -moz-animation-delay: 1.8s; animation-delay: 1.8s;">
                <div class="text-blue-900 text-5xl">
                  <i class="lni lni-headphone-alt"></i>
                </div>
                <div>
                  <h3 class="service-title">Hotline</h3>
                  <p class="text-gray-600">Nous restons à disposition (Prix d’un appel local)</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Services item ends-->
        </div>
      </div>
      <!-- Cadre div ends -->

      <!-- Tout savoir div starts -->
      <div v-if="show === 3" class="bg-transparent border-2 rounded-lg">
        <div class="pt-4">
          <div class="container text-justify">
            <h4 class="mb-8 text-center font-bold text-center text-4xl text-blue-900 wow fadeInUp animated" data-wow-delay="0.3s">Tout savoir sur les enquêtes publiques dématérialisée</h4>
            <div class="container text-justify">
              <h2 class="mt-8 font-bold text-lg uppercase text-yellow-600 wow fadeInUp animated">Enquête publique : le contexte législatif</h2>
              <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">L'ordonnance n° 2016-1060 du 3 août 2016 entrée en vigueur le 1er Janvier 2017, modernise l'enquête publique en imposant, en plus des formalités d'enquête classiques, le recours à la dématérialisation pour faciliter la participation du public. Cette ordonnance réforme les procédures destinées à assurer l'information et la participation du public à l'élaboration de certaines décisions susceptibles d'avoir une incidence sur l'environnement. Elle a été complétée par le décret 2017-626 du 25 avril 2017.</p>
            </div>
            <div class="container text-justify">
              <h2 class="mt-8 font-bold text-lg uppercase text-yellow-600 wow fadeInUp animated">Les indispensables du registre dématerialisé</h2>
              <h2 class="mt-4 font-bold text-lg text-blue-900 wow fadeInUp animated">Les objectifs de la dématérialisation :</h2>
              <p data-wow-delay="0.6s" class="mb-1 font-bold italic text-gray-900 leading-6 text-base wow fadeInUp">La dématérialisation de l'enquête publique à pour but de prévoir un site internet dédié à l'enquête afin de permettre au public :</p>
              <ul>
                <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>d'être informé sur le déroulement de l'enquête ;</li>
                <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>de consulter le dossier d'enquête en ligne ;</li>
                <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>de communiquer ses observations ou propositions par voie électronique</li>
              </ul>
            </div>
            <div class="container text-justify">
              <h2 class="mt-4 font-bold text-lg text-blue-900 wow fadeInUp animated">Description fonctionnelle d'un registre démtérialisé</h2>
              <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">L'accès au site dédié à l'enquête doit se faire à partir d'un lien dont l'URL doit être simple et intelligible, et validée par l'autorité organisatrice.</p>
              <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Le site doit être structuré de façon à faciliter la navigation du public afin qu'il accède facilement et rapidement aux différentes phrases de l'enquête. </p>
              <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Le site interet doit être sécurisé et disponible sans interruption pendant toute sa durée de vie, soit au moins égale à la durée de l'enquête augmentée de la durée d'établissement du rapport d'enquête par le comissaire enquêteur (+de 2mois).</p>
            </div>
            <div class="container text-justify">
              <h2 class="mt-4 font-bold text-lg text-blue-900 wow fadeInUp animated">La page d'accueil d'un registre dématérialisé</h2>
              <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Elle doit être mise en ligne au moins 15 jours avant le début de l'enquête et jusqu'à l'arrêt du site et définir clairement l'objet de l'enquête, le lieu, les dates de l'enquête et un résumé sur la nature du projet.</p>
              <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Cette page doit contenir un message indiquant le déroulement dans le temps : </p>
              <ul>
                <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>la date et l'heure de début de l'enquête ; </li>
                <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>la date et l'heure de fin de l'enquête, ainsi qu'un décompte du temps restant pour saisir les observations</li>
              </ul>
              <p data-wow-delay="0.6s" class="m-1 text-gray-900 leading-6 text-base wow fadeInUp">Tous ces éléments sont fournis par l'autorité organisatrice. </p>
            </div>
            <div class="container text-justify">
              <h2 class="mt-4 font-bold text-lg text-blue-900 wow fadeInUp animated">La consultation du dossier en ligne</h2>
              <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Le dossier doit être accessible au public au minumum pendant la durée de l'enquête mais il est possible dès la publication de l'arrêté d'ouverture de l'enquête. Il devra être disponible au <a class="text-blue-900" href="" target="blank">comissaire enquêteur</a> pendant la totalité de la durée de vie du site. </p>
              <p data-wow-delay="0.6s" class="inline mb-1 font-bold text-gray-900 leading-6 text-base wow fadeInUp">Le contenu du dossier sera identique à celui déposé sous format papier dans les lieux d'enquête. </p>
              <p data-wow-delay="0.6s" class="inline mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Ces documents seront transmis au prestataire au format PDF. Afin de faciliter la lecture du dossier d'enquête sur le site, les différentes pièces devront être indexées et mise en ligne de façon indépendante grâce à une table des matières claire.</p>
            </div>
            <div class="container text-justify">
              <h2 class="mt-4 font-bold text-lg text-blue-900 wow fadeInUp animated">Le registre dématérialisé</h2>
              <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Il doit permettre au public de déposer son avis en ligne et de consulter les avis déposés en ligne. Il disposera d'une charte utilisateur pour rappeler les règles de publication ( ne portant pas atteinte aux droits des personnes, taille maximale des pièces jointes etc...) et possédera l'ensemble des caractéristiques suivantes :</p>
              <ul>
                <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Les dates d'ouverture et de fermeture, </li>
                <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Un formulaire de dépôt d'avis avec la fonction d'accusé de reception par courriel, </li>
                <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>La possibilité de modérer les avis, </li>
                <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>La numérotation par ordre chronologique des observations reçues, </li>
                <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>La possibilité de déposer des pièces jointes, d'extraire l'ensemble des données au format PDF et/ou de les imprimer, </li>
                <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>La possibilité de visualiser les obsdervations déposées sur le registre papier. </li>
              </ul>
            </div>
            <div class="container text-justify">
              <h2 class="mt-4 font-bold text-lg text-blue-900 wow fadeInUp animated">Le comissaire enquêteur</h2>
              <p data-wow-delay="0.6s" class="inline mb-1 font-bold text-gray-900 leading-6 text-base wow fadeInUp">Le <a class="font-bold" href="" target="blank">comissaire enquêteur</a> doit pouvoir procéder à des opérations d'analyse.</p>
              <p data-wow-delay="0.6s" class="inline mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Ses analyses vont se porter sur les observations et les outils d'aides conseillés qui sont les suivants : </p>
              <ul>
                <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Outil d'aide à la recherche des doublons ; </li>
                <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Un outil d'aide à la recherche de mots ou d'expressions ; </li>
                <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>L'extraction des cathégories et observations au format Excel pour être retravaillées ;  </li>
                <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Les statistiques de site tels que le nombre de téléchargement, la fréquentation du site... </li>
              </ul>
              <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Les sites d'enquêtes publiques doivent être conformes aux exigences du RGAA (Référenciel Général d'Accessibilité de l'Administration) en application de la loi de la loi n°2016-1321 du 7 octobre 2016.</p>
              <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Une assistance téléphonique devra être fournie au comissaire enquêteur pendant la durée de l'enquête. </p>
            </div>
            <div class="text-center justify-center m-8 space-y-8">
              <h2 class="mt-4 bg-blue-900 font-bold text-lg text-white wow fadeInUp animated">Besoin d'un conseil </h2>
              <p data-wow-delay="0.6s" class="mb-1 text-gray-600 leading-6 text-base wow fadeInUp">Votre projet nécessite une enquête publique et vous souhaitez profiter de cette occasion pour communiquer. Appelez-nous, prenons rendez-vous! Notre équipe saura vous conseiller pour offrir une solution adaptée à vos besoins. </p>
              <div class="text-center mb-1 wow fadeInUp" data-wow-delay="1.2s">
                <a href="/contact" target="blank" rel="nofollow" class=" rounded-full font-bold px-3 py-2 bg-blue-900 text-white">Nous contacter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Tout savoir div ends -->

      <!-- Notre service div ends -->
      <div v-if="show === 4" class="bg-transparent border-2 rounded-lg">
        <div class="pt-4">
          <div class="container text-justify">
            <h4 class="mb-8 text-center font-bold text-center text-4xl text-blue-900 wow fadeInUp animated" data-wow-delay="0.3s">Notre Service</h4>
            <p data-wow-delay="0.6s" class="inline mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Acteur majeur de la dématerialisation, nous avons développé une solution technologique au service de vos enquêtes publiques, et ce en</p>
            <p data-wow-delay="0.6s" class="inline mb-1 text-blue-900 leading-6 text-base wow fadeInUp">collaboration avec des comissaires enquêteurs de la CNCE</p>
            <div>
              <p data-wow-delay="0.6s" class="inline mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Avec registredemat.fr, vous disposez désormais de </p>
              <p data-wow-delay="0.6s" class="inline mb-1 text-blue-900 leading-6 text-base wow fadeInUp">registres électroniques </p>
              <p data-wow-delay="0.6s" class="inline mb-1 text-gray-900 leading-6 text-base wow fadeInUp">simples et intuitifs offrant des </p>
              <p data-wow-delay="0.6s" class="inline mb-1 text-blue-900 leading-6 text-base wow fadeInUp">fonctionnalités optimisées et adaptées à chacun de vos besoins : </p>
            </div>
            <ul>
              <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Accessibilité 24h/24 7J/7 sur tout support (PC, smartphones, tablettes)</li>
              <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Consultation des documents du dossier d'enquête</li>
              <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Dépôt d'observations, avec ou sans pièce jointe. Possibilité de dépôt anonyme</li>
              <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Consultation des avis déposés en ligne</li>
              <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Outils « Statistiques, suivi et analyse » pour les CE/AO/MO.</li>
            </ul>
            <div class="flex flex-wrap text-justify wow fadeInUp" data-wow-delay="0.4s">
              <div class="w-1/6 m-auto">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 text-blue-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                </svg>
              </div>
              <div class="w-5/6 ml-0">
                <h2 class="mt-4 font-bold text-lg text-blue-900 wow fadeInUp animated">Le Comissaire-Enquêteur</h2>
                <p data-wow-delay="0.6s" class="inline mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Parce que vous êtes le garant du </p>
                <p data-wow-delay="0.6s" class="inline mb-1 text-blue-900 leading-6 text-base wow fadeInUp">bon déroulement de l’enquête publique, </p>
                <p data-wow-delay="0.6s" class="inline mb-1 text-gray-900 leading-6 text-base wow fadeInUp">nous mettons à votre disposition un espace de travail privé (accès sécurisé) dans lequel vous accédez à notre outil « Statistiques, suivi et analyse ».</p>
                <div>
                  <p data-wow-delay="0.6s" class="inline mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Vous pourrez valider la version finale du site et/ou registre dématérialisé créé avant la mise en ligne, suivre le dépôt d’observations, </p>
                  <p data-wow-delay="0.6s" class="inline mb-1 text-blue-900 leading-6 text-base wow fadeInUp">modérer et trier</p>
                  <p data-wow-delay="0.6s" class="inline mb-1 text-gray-900 leading-6 text-base wow fadeInUp">les observations, faire des exports… Un large choix de fonctionnalités mises à votre service pour faciliter votre analyse et la rédaction de votre rapport.</p>
                </div>
              </div>
            </div>
            <div class="flex flex-wrap text-justify wow fadeInUp" data-wow-delay="0.4s">
              <div class="w-1/6 m-auto">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 text-blue-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
                </svg>
              </div>
              <div class="w-5/6 ml-0">
                <h2 class="mt-4 font-bold text-lg text-blue-900 wow fadeInUp animated">L'Autorité organisatrice</h2>
                <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Vous devez organiser une enquête publique ? Votre mission vous impose de mettre en œuvre les moyens nécessaires à la bonne organisation de l’enquête, et ce dans le respect du cadre légal réglementaire.</p>
                <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Les solutions de registredemat.fr vous le garantissent puisqu’elles répondent parfaitement aux exigences du décret n°2017-626 du 25 avril 2017.</p>
              </div>
              <div class="flex flex-wrap text-justify wow fadeInUp" data-wow-delay="0.4s">
                <div class="w-1/6 m-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 text-blue-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>
                </div>
                <div class="w-5/6 ml-0">
                  <h2 class="mt-4 font-bold text-lg text-blue-900 wow fadeInUp animated">La Maîtrise d'Ouvrage</h2>
                  <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Commanditaire du projet, vous devez en présenter les enjeux qui justifient une enquête publique. La communication autour de votre projet est essentielle, elle doit être efficace.</p>
                  <p data-wow-delay="0.6s" class="mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Utiliser la solution de registredemat.fr, c’est donner une visibilité maximale à votre enquête en touchant un très large public, avec un outil moderne et convivial. Registredemat.fr est une solution webresponsive, c’est-à-dire qu’elle est consultable sur tout type de supports : PC, tablettes, Smartphones.</p>
                </div>
              </div>
              <div class="flex flex-wrap text-justify wow fadeInUp" data-wow-delay="0.4s">
                <div class="w-1/6 m-auto">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 text-blue-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                  </svg>
                </div>
                <div class="w-5/6 ml-0">
                  <h2 class="mt-4 font-bold text-lg text-blue-900 wow fadeInUp animated">Le Citoyen</h2>
                  <p data-wow-delay="0.6s" class="inline mb-1 text-blue-900 leading-6 text-base wow fadeInUp">Utilisateur final</p>
                  <p data-wow-delay="0.6s" class="inline mb-1 text-gray-900 leading-6 text-base wow fadeInUp">de notre service, le public accède au site de votre projet et à son registre associé </p>
                  <p data-wow-delay="0.6s" class="inline mb-1 text-blue-900 leading-6 text-base wow fadeInUp">24h/24 et 7j/7</p>
                  <p data-wow-delay="0.6s" class="inline mb-1 text-gray-900 leading-6 text-base wow fadeInUp">, et ce</p>
                  <p data-wow-delay="0.6s" class="inline mb-1 text-blue-900 leading-6 text-base wow fadeInUp">depuis son PC, sa tablette ou son smartphone.</p>
                  <p data-wow-delay="0.6s" class="inline mb-1 text-gray-900 leading-6 text-base wow fadeInUp">Il peut consulter les documents téléchargeables, contribuer à l’enquête en formulant son observation et consulter celles déposées. La diffusion de l’enquête grâce aux réseaux sociaux sera également facilitée.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center justify-center m-8 space-y-8">
            <h2 class="mt-4 bg-blue-900 font-bold text-lg text-white wow fadeInUp animated">Besoin d'un conseil </h2>
            <p data-wow-delay="0.6s" class="mb-1 text-gray-600 leading-6 text-base wow fadeInUp">Votre projet nécessite une enquête publique et vous souhaitez profiter de cette occasion pour communiquer. Appelez-nous, prenons rendez-vous! Notre équipe saura vous conseiller pour offrir une solution adaptée à vos besoins. </p>
            <div class="text-center mb-1 wow fadeInUp" data-wow-delay="1.2s">
              <a href="/contact" target="blank" rel="nofollow" class=" rounded-full font-bold px-3 py-2 bg-blue-900 text-white">Nous contacter</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Notre service div ends -->
      
    </div>
  </div>
</template>
<script>
export default {
  data(){
    return {
      show: 1, 
    }
  }
}
</script>
<style>
</style>