<template>
    <div>
        <div class="m-auto ml-2 mr-2 flex flex-row justify-center pt-10 pb-24">
            <table>
                <tr>
                    <td class="titreswitch bg-white border border-white"></td>
                </tr>
                <tr>
                    <td
                        class="bg-gray-200 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        Registre dématérialisé sécurisé
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-gray-50 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        Outils d'analyse et de statistiques (CE/AO/MO)
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-gray-200 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        Réception quotidienne par courriel des observations
                        déposées la veille
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-gray-50 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        Personnalisation du logo et couleurs du registre
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-gray-200 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        Système de modération paramétrable
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-gray-50 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        Assistance téléphonique gratuite
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-gray-200 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        Création de site et mise en ligne des documents de
                        l'enquête
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-gray-50 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        Document accessibles en visionnage et téléchargement
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-gray-200 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        Mise en ligne du rapport du commissaire enquêteur
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-gray-50 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        Mise en ligne des scans des registres papier
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-gray-200 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        Création site sur-mesure
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-gray-50 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        Nom de domaine dédié
                    </td>
                </tr>
            </table>

            <table v-if="compteur === 1">
                <tr>
                    <td
                        class="flex flex-row items-center justify-between w-full titreswitch capitalize md:uppercase border border-white text-xs text-white text-center bg-colA1"
                    >
                        <button
                            class="buttonpresuiv font-bold text-colA1 bg-white rounded-xl ml-2"
                            type="button"
                            v-on:click="compteur--"
                        >
                            <i class="lni lni-chevron-left"></i>
                        </button>
                        <b>ESSENTIELLE</b>
                        <button
                            class="buttonpresuiv font-bold text-colA1 bg-white rounded-xl mr-2"
                            type="button"
                            v-on:click="compteur++"
                        >
                            <i class="lni lni-chevron-right"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-colA1 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-colA2 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-colA3 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-colA4 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-colA5 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-colA6 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td class="bg-white border border-white px-5 py-2 h-20">
                        <p>a{{ windowWidth }}</p>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-white border border-white px-5 py-2 h-20"
                    ></td>
                </tr>
                <tr>
                    <td
                        class="bg-white border border-white px-5 py-2 h-20"
                    ></td>
                </tr>
                <tr>
                    <td
                        class="bg-white border border-white px-5 py-2 h-20"
                    ></td>
                </tr>
                <tr>
                    <td
                        class="bg-white border border-white px-5 py-2 h-20"
                    ></td>
                </tr>
                <tr>
                    <td
                        class="bg-white border border-white px-5 py-2 h-20"
                    ></td>
                </tr>
            </table>

            <table v-if="compteur === 2">
                <tr>
                    <td
                        class="flex flex-row items-center justify-between w-full titreswitch capitalize md:uppercase border border-white text-xs text-white text-center bg-colB1"
                    >
                        <button
                            class="buttonpresuiv font-bold text-colB1 bg-white rounded-xl ml-0.5"
                            type="button"
                            v-on:click="compteur--"
                        >
                            <i class="lni lni-chevron-left"></i>
                        </button>
                        <b>PERFORMANCE</b>
                        <button
                            class="buttonpresuiv font-bold text-colB1 bg-white rounded-xl mr-0.5"
                            type="button"
                            v-on:click="compteur++"
                        >
                            <i class="lni lni-chevron-right"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-colB1 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-colB2 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-colB3 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-colB4 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-colB5 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-colB6 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-colB7 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-colB8 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-colB9 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-colB10 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-white border border-white px-5 py-2 h-20"
                    ></td>
                </tr>
                <tr>
                    <td
                        class="bg-white border border-white px-5 py-2 h-20"
                    ></td>
                </tr>
            </table>

            <table v-if="compteur === 3">
                <tr>
                    <td
                        class="flex flex-row items-center justify-between w-full titreswitch capitalize md:uppercase border border-white text-xs text-white text-center bg-C1"
                    >
                        <button
                            class="buttonpresuiv font-bold text-bg-C1 bg-white rounded-xl ml-2"
                            type="button"
                            v-on:click="compteur--"
                        >
                            <i class="lni lni-chevron-left icontab3"></i>
                        </button>
                        <b>PREMIUM</b>
                        <button
                            class="buttonpresuiv font-bold text-bg-C1 bg-white rounded-xl mr-2"
                            type="button"
                            v-on:click="compteur++"
                        >
                            <i class="lni lni-chevron-right icontab3"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-C1 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-C2 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-C3 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-C4 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-C5 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-C6 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-C7 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-C8 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-C9 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-C10 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-C11 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
                <tr>
                    <td
                        class="bg-C12 text-xs border border-white font-semibold px-5 py-2 h-20"
                    >
                        <section class="flex justify-center">
                            <img
                                src="/images/logoVoffers.svg"
                                height="20%"
                                width="20%"
                            />
                        </section>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            compteur: 1,
            windowWidth: 0
        };
    },
    // computed: {
    //     largeur: function() {
    //       return window.onresize = document.body.clientWidth

    //     }
    // },

    watch: {
        compteur: function() {
            if (this.compteur === 4) {
                this.compteur = 1;
            }
            if (this.compteur === 0) {
                this.compteur = 3;
            }
        }
    }
};
</script>
