<template>
<div>
<!-- Go to Top Link -->
<a href="#" class="back-to-top w-10 h-10 fixed bottom-0 right-0 mb-5 mr-5 flex items-center justify-center rounded-full bg-yellow-600 text-white text-lg z-20 duration-300">
  <i class="lni lni-arrow-up"></i>
  </a>
  
  <section id="footer" class="pt-3 row bg-blue-900">
    <div class="container">
      <div class="flex flex-wrap">
        <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/5 wow fadeInUp" data-wow-delay="0.2s">
          <div class="mx-3 mb-8">
            <div class="footer-logo m-3">
              <img src="/images/logo_white.svg" height="80%" width="80%">
            </div>
            <p class="text-gray-300">L'utilisation des outils d'expression moderne dans le cadre de l'amélioration de l'enquête publique </p>
          </div>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/5 wow fadeInUp" data-wow-delay="0.4s">
          <div class="mx-3 mb-8">
            <h3 class="font-bold text-xl text-white mb-5">Contact</h3>
            <ul>
              <li><a target="_blank" href="https://www.legalcom.fr/" class="footer-links">LEGALCOM</a></li>
              <li><a href="/contact" class="footer-links">14 Rue Beffroy</a></li>
              <li class="text-white">01 49 04 01 52</li>
              <p>(prix d'un appel local)</p>
            </ul>
          </div>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/5 wow fadeInUp" data-wow-delay="0.6s">
          <div class="mx-3 mb-8">
            <h3 class="font-bold text-xl text-white mb-5">Informations</h3>
            <ul>
              <li><a href="/glossaire" class="footer-links">Glossaire</a></li>
              <li><a href="/plan_du_site" class="footer-links">Plan du site</a></li>
              <li><a @click="lm=1" href="#legalmentions" class="footer-links" id="legal_mention_link">Mentions Légales</a></li>
            </ul>
          </div>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/5 wow fadeInUp" data-wow-delay="0.6s">
          <div class="mx-3 mb-8">
            <h3 class="font-bold text-xl text-white mb-5">A propos</h3>
            <ul>
              <li><a href="/cgu" class="footer-links">Conditions générales d'utilisation</a></li>
              <li><a href="/cgv" class="footer-links">Conditions générales de vente</a></li>
              <li><a href="/politique-de-confidentialite" class="footer-links" id="legal_mention_link">Politique de confidentialié</a></li>
            </ul>
          </div>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/5 wow fadeInUp" data-wow-delay="0.8s">
          <div class="mx-3 mb-8">
            <h3 class="font-bold text-xl text-white mb-5">Réseaux Sociaux</h3>
      
            <ul class="social-icons flex justify-start">
              <li class="mx-2">
                <a target="_blank" href="https://www.facebook.com/Registre-Demat-1511597192225488/"
                  class="footer-icon hover:bg-indigo-500">
                  <i class="lni lni-facebook-original" aria-hidden="true"></i>
                </a>
              </li>
              <li class="mx-2">
                <a target="_blank" href="https://www.linkedin.com/uas/login?session_redirect=https%3A%2F%2Fwww.linkedin.com%2FshareArticle%3Fmini%3Dture%26url%3Dhttps%3A%2F%2Fwww.registredemat.fr%2F"
                  class="footer-icon hover:bg-indigo-600">
                  <i class="lni lni-linkedin-original" aria-hidden="true"></i>
                </a>
              </li>
              <li class="mx-2">
                <a target="_blank" href="https://twitter.com/Registre_Demat"
                  class="footer-icon hover:bg-indigo-600">
                  <i class="lni lni-twitter-original" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
    <section class="bg-blue-900 py-6 border-t-2 border-b-2 border-dotted">
      <div class="container">
        <div class="flex flex-wrap">
          <div class="w-full text-center">
            <p class="text-white">© Copyright <a class="text-white duration-300 hover:text-blue-600" href="https://www.legalcom.fr/" rel="nofollow" target="_blank">LEGALCOM</a> 2021 - Tous Droits Réservés</p>
          </div>
        </div>
      </div>
    </section> 
  
  
  <!-- Legal Mention Section Starts -->
  <section v-if="lm===1" id="legalmentions" class="row bg-blue-900 text-white">
    <!-- Legal mention div Start -->
    <div class="container">
        <div class="text-center">
            <h4 class="text-white mb-8 section-heading wow fadeInUp animated" data-wow-delay="0.3s">Mentions Légales</h4>
        </div>

        <div class="justify-center flex flex-wrap wow fadeInUp" data-wow-delay="0.4s">          
            <div class="w-full md:w-1/3">
                <div class="ml-3 md:ml-12 wow fadeIn">
                    <h2 class="uppercase font-bold text-xl text-white mb-5">Hébergeur</h2>
                    
                    <ul>
                        <li><a target="_blank" href="https://www.o2switch.fr/" class="footer-links">o2switch</a></li>
                        <li><a href="https://goo.gl/maps/kySd6vaix15jQDWNA" class="footer-links">222-224 Boulevard Gustave Flaubert</a></li>
                        <li><a href="https://goo.gl/maps/kySd6vaix15jQDWNA" class="footer-links">63000 Clermont-Ferrand</a></li>
                        <li>FRANCE</li>
                        <li>SARL au capital de 100000€</li>
                        <li>Siret : 510 909 80700024</li>
                        <li>Tél. : +33 4 44 44 60 40</li>
                    </ul>
                </div>
            </div>
            <div class="w-full md:w-1/3">
                <div class="ml-3 md:ml-12 wow fadeIn">
                    <h2 class="uppercase font-bold text-xl text-white mb-5">Éditeur du site</h2>
                    
                    <ul>
                        <li><a target="_blank" href="https://www.legalcom.fr/" class="footer-links">LEGALCOM</a></li>
                        <li><a href="" class="footer-links">14 Rue Beffroy</a></li>
                        <li><a href="" class="footer-links">92200 Neuilly Sur Seine</a></li>
                        <li>FRANCE</li>
                    </ul>
                </div>
            </div>
            <div class="w-full md:w-1/3">
                <div class="ml-3 md:ml-12 wow fadeIn">
                    <h2 class="uppercase font-bold text-xl text-white mb-5">Directeur de la publication</h2>
                    <ul>
                        <li><a target="_blank" href="https://osp.fr/equipe/lionel" class="footer-links">Lionel JOURDAIN</a></li>
                    </ul>
                </div>
            </div>
            <div class="py-6">
                <button @click="lm=0" class="btn_orange"><a href="">Fermer</a></button>
            </div>
        </div>
    </div>
    <!-- Legal mention div End -->
  </section>
  <!-- Legal Mention Section Ends -->
  </div>
  </template>
  <script>
export default {
  data() {
    return {
      lm : 0, 
    }
  }, 
  methods: {
      show(lm)
      {
          alert(lm); 
      }
  },
}
</script>