<template>
    <div class="container">
        <div class="animated bg-white fadeInDown flex-wrap mb-3 top-0 rounded-2xl shadow-lg p-4 w-full wow">
            <!-- Glossaire select option div starts -->
            <div class="epnav flex-wrap gap-5 grid grid-flow-row md:grid-flow-col sm:grid-flow-col">
                <select v-model="selected">
                    <option disabled value="">Choisissez</option>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                <span>Sélectionné : {{ selected }}</span>
            </div>
            <!-- Glossaire select option ends -->
        </div>
    
    </div>
</template>
<script>
new Vue({
  data: {
    selected: ''
  }
})
</script>