<template>
    <section class="bloc-premier min-h-auto mb-64 pt-16">
        <section class="services w-min sm:w-full md:w-full lg:w-full p-0 m-auto">
            <div class="container">
                <div class="text-center">
                    <h2
                        class="mb-12 text-4xl font-bold tracking-wide text-blue-900 wow fadeInDown animated"
                        data-wow-delay="0.3s"
                        style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"
                    >
                        Inclus dans nos offres
                    </h2>
                </div>
                <div class="flex flex-wrap p-2 bg-white shadow-lg rounded-3xl">
                    <!-- Services item -->
                    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/3">
                        <div
                            class="m-4 wow fadeInRight animated"
                            data-wow-delay="0.3s"
                            style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"
                        >
                            <div class="icon text-5xl">
                                <i class="lni lni-laptop-phone iconcol"></i>
                            </div>
                            <div>
                                <h3 class="service-title">Web Responsive</h3>
                                <p class="text-gray-600">
                                    Site web adaptatif pour PC, Tablette,
                                    Smartphone...
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Services item -->
                    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/3">
                        <div
                            class="m-4 wow fadeInRight animated"
                            data-wow-delay="0.6s"
                            style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;"
                        >
                            <div class="icon text-5xl">
                                <i class="lni iconcol lni-users"></i>
                            </div>
                            <div>
                                <h3 class="service-title">
                                    Sans limite d'utilisateurs
                                </h3>
                                <p class="text-gray-600">
                                    Possibilité d'utilisation pour autant de
                                    commissaires enquêteurs que souhaité
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Services item -->
                    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/3">
                        <div
                            class="m-4 wow fadeInRight animated"
                            data-wow-delay="0.9s"
                            style="visibility: visible;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;"
                        >
                            <div class="icon text-5xl">
                                <i class="lni iconcol lni-stats-up"></i>
                            </div>
                            <div>
                                <h3 class="service-title">
                                    OUTILS D'ANALYSE DE LA COMMISSION D'ENQUÊTE
                                </h3>
                                <p class="text-gray-600">
                                    Export, Outils d'analyse et Statistiques
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Services item -->
                    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/3">
                        <div
                            class="m-4 wow fadeInRight animated"
                            data-wow-delay="1.2s"
                            style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;"
                        >
                            <div class="icon text-5xl">
                                <i class="lni iconcol lni-dashboard"></i>
                            </div>
                            <div>
                                <h3 class="service-title">
                                    MISE EN ŒUVRE RAPIDE
                                </h3>
                                <p class="text-gray-600">
                                    La mise en ligne rapide dès validation
                                    définitive du maître d’ouvrage ou de
                                    l’organisme référent
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Services item -->
                    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/3">
                        <div
                            class="m-4 wow fadeInRight animated"
                            data-wow-delay="1.5s"
                            style="visibility: visible;-webkit-animation-delay: 1.5s; -moz-animation-delay: 1.5s; animation-delay: 1.5s;"
                        >
                            <div class="icon text-5xl">
                                <i class="lni iconcol lni-thumbs-up"></i>
                            </div>
                            <div>
                                <h3 class="service-title">
                                    UTILISATION SIMPLE
                                </h3>
                                <p class="text-gray-600">
                                    Prise en main et appropriation rapide de
                                    l’outil par le commissaire enquêteur, maître
                                    d’ouvrage ou organisme référent.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Services item -->
                    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/3">
                        <div
                            class="m-4 wow fadeInRight animated"
                            data-wow-delay="1.8s"
                            style="visibility: visible;-webkit-animation-delay: 1.8s; -moz-animation-delay: 1.8s; animation-delay: 1.8s;"
                        >
                            <div class="icon text-5xl">
                                <i class="lni iconcol lni-headphone-alt"></i>
                            </div>
                            <div>
                                <h3 class="service-title">Hotline</h3>
                                <p class="text-gray-600">
                                    Nous restons à disposition (Prix d’un appel
                                    local)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>

<script>
export default {};
</script>

<style></style>
