<template>
    <section class="bloc-premier">
        <div class="w-48 mt-8 m-auto text-titreoff font-semibold p-4 rounded">
            <div class="flex flex-row items-center">
                <svg
                    class="animate-spin w-16 h-16"
                    version="1.1"
                    id="L9"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 100 100"
                    enable-background="new 0 0 0 0"
                    xml:space="preserve"
                >
                    <path
                        fill="#0B90AE"
                        d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50"
                    ></path>
                </svg>
                Chargement...
            </div>
        </div>
    </section>
</template>

<script>
export default {};
</script>

<style></style>
