<template>
    <section class="m-auto w-full">
        <div class="container">
            <div class="animated bg-white fadeInDown flex-wrap mb-16 top-0 rounded-2xl shadow-lg p-4 w-full wow">
                <!-- Connexion div starts -->
                <div class="bg-transparent border-2 rounded-lg">
                    <form id="loginForm" action="" method="post">
                        <input type="hidden" name="_token" v-bind:value="csrf">
                        <section class="items-center md:items-center md:justify-between" data-wow-delay="0.4s">
                            <div class="top-0 m-auto wow fadeInDown animated flex flex-col gap-5 bg-white rounded-2xl shadow-lg p-4">
                                <article class="text-center font-medium text-blue-900 text-2xl">
                                    <h1>Entrez votre e-mail et votre mot de passe</h1>
                                </article>
                                <div class="md:w-full">
                                    <div class="form-group mx-3">
                                    <label for="email">* E-mail</label>
                                    <input type="email" placeholder="Email" id="email" class="form-control form-input rounded-full text-black" name="email" required data-error="Please enter your email" v-model="fields.email" >
                                    </div> 
                                </div>
                                <div class="md:w-full">
                                    <div class="form-group mx-3">
                                    <label for="pwd">* Mot de passe</label>
                                    <input type="password" class="form-control form-input rounded-full text-black" id="pwd" name="pwd" placeholder="Mot de Passe" required data-error="Veuillez entrer votre mot de passe" v-model="fields.pwd" >
                                    </div>                                 
                                </div>
                                <div class="md:w-full">
                                    <div class="submit-button m-3 md:py-4 text-center">
                                        <input class="btn_orange" id="form-submit" type="submit" value="Connexion">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
                <!-- Connexion div ends -->
            </div>
        </div>
         <!-- <div class="bg-transparent border-2 rounded-lg">
            
        </div> -->
        <!-- <section class="h-auto items-center gap-5 md:items-center md:justify-between">
            
        </section> -->
        <!-- <p>L'id est : {{ fields.email }}</p>
        <p>Le mdp est : {{ fields.pwd }}</p> -->
    </section>
</template>
<script>
export default {
  data() {
    return {
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      fields: {}, 
    }
  }, 
}
</script>