<template>
    <div class="dropdown">
        <button class="dropbtn">Solutions</button>
        <div class="dropdown-content">
            <a href="/enquete_publique">Enquête Publique</a>
            <a href="/concertation">Concertation</a>
            <a href="/ppve">PPVE</a>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style>
/* Navbar container */
/* Links inside the navbar */

/* Dropdown Button */
.dropbtn {
    --tw-text-opacity: 1;
    color: rgba(17, 24, 39, var(--tw-text-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    font-weight: 600;
    border: none;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 0.5rem;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 0.5rem;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    --tw-bg-opacity: 1;
    background-color: rgba(219, 234, 254, var(--tw-bg-opacity));
}
</style>
