<template>
    <div>
        <button
            v-on:click="toggleModal()"
            class="bloc-devis__buttonplay w-16 h-16 rounded-full shadow-lg bg-white hover:bg-gray-100 hover:bg-opacity-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
            <i class="lni lni-play fill-current text-blue-500 "></i>
        </button>
        <div
            v-if="showModal"
            class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
        >
            <div class="relative w-auto my-6 mx-auto max-w-6xl">
                <!--content-->
                <div
                    class="border-0 rounded-lg shadow-xl relative flex flex-col w-full bg-white outline-none focus:outline-none"
                >
                    <!--header-->
                    <div
                        class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t"
                    >
                        <h3 class="font-bold text-blue-900 text-4xl">
                            Vidéo Présentation
                        </h3>
                        <button
                            class="p-1 ml-auto border-0 text-black float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                            v-on:click="toggleModal()"
                        >
                            <span
                                class="text-black h-6 w-6 text-2xl block outline-none focus:outline-none"
                            >
                                ×
                            </span>
                        </button>
                    </div>
                    <!--body-->
                    <div class="relative p-6 flex-auto">
                        <iframe
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/6hZox-4-CQ0"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                        ></iframe>
                    </div>
                    <!--footer-->
                    <div
                        class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b"
                    >
                        <button
                            class="text-blue-500 bg-transparent border border-solid border-blue-500 hover:bg-blue-500 hover:text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                            type="button"
                            v-on:click="toggleModal()"
                        >
                            Fermer
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="showModal"
            class="opacity-25 fixed inset-0 z-40 bg-black"
        ></div>
    </div>
</template>

<script>
export default {
    name: "large-modal",
    data() {
        return {
            showModal: false
        };
    },
    methods: {
        toggleModal: function() {
            this.showModal = !this.showModal;
        }
    }
};
</script>
