<template>
  <div class="container">
    <div class="animated bg-white fadeInDown flex-wrap mb-3 top-0 rounded-2xl shadow-lg p-4 w-full wow">
      <!-- Politique nav div starts -->
      <div class="epnav flex-wrap gap-5 grid grid-flow-row md:grid-flow-col sm:grid-flow-col">
        <a @click="show=1" :class="show==1?'border-2 border-yellow-600 font-bold rounded-lg text-lg sm:text-xl md:text-xl lg:text-xl':'font-semibold text-base'" class="bg-transparent auto-col-auto cursor-pointer md:auto-row-auto sm:auto-row-auto text-blue-900 text-center w-full">Confidentialité</a>
        <a @click="show=2" :class="show==2?'border-2 border-yellow-600 font-bold rounded-lg text-lg text-lg sm:text-xl md:text-xl lg:text-xl':'font-semibold text-base text-lg sm:text-lg md:text-lg lg:text-lg'" class="bg-transparent auto-col-auto cursor-pointer md:auto-row-auto sm:auto-row-auto text-blue-900 text-center w-full">Traitement des données à caractère personnel</a>
        <a @click="show=3" :class="show==3?'border-2 border-yellow-600 font-bold rounded-lg text-lg text-lg sm:text-xl md:text-xl lg:text-xl':'font-semibold text-base text-lg sm:text-lg md:text-lg lg:text-lg'" class="bg-transparent auto-col-auto cursor-pointer md:auto-row-auto sm:auto-row-auto text-blue-900 text-center w-full">Gestion des cookies</a>
        <a @click="show=4" :class="show==4?'border-2 border-yellow-600 font-bold rounded-lg text-lg text-lg sm:text-xl md:text-xl lg:text-xl':'font-semibold text-base text-lg sm:text-lg md:text-lg lg:text-lg'" class="bg-transparent auto-col-auto cursor-pointer md:auto-row-auto sm:auto-row-auto text-blue-900 text-center w-full">Archivage et de conservation des données</a>
        <a @click="show=5" :class="show==5?'border-2 border-yellow-600 font-bold rounded-lg text-lg text-lg sm:text-xl md:text-xl lg:text-xl':'font-semibold text-base text-lg sm:text-lg md:text-lg lg:text-lg'" class="bg-transparent auto-col-auto cursor-pointer md:auto-row-auto sm:auto-row-auto text-blue-900 text-center w-full">Contact et Modifications</a>
      </div>
      <!-- Politique nav div ends -->
    </div>
    <!-- Politique de confidentialité div starts -->
    <div  v-if="show === 1" class="animated bg-white fadeInDown flex-wrap mb-16 top-0 rounded-2xl shadow-lg p-4 w-full wow">
        <!-- Article 1 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 1 : Définitions</h4>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-yellow-600 text-base wow">L'Éditeur : </p>
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-gray-900 text-base wow">La personne, physique ou morale, qui édite les services de communication au public en ligne.</p>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-yellow-600 text-base wow">Le Site : </p>
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-gray-900 text-base wow">L'ensemble des pages Internet et services en ligne proposés par l'Éditeur, incluant les textes, mise en forme, sons, images, vidéos et base de données.</p>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-yellow-600 text-base wow">L'Utilisateur : </p>
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-gray-900 text-base wow">La personne utilisant le Site et les services.</p>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-yellow-600 text-base wow">Données à caractère personnel : </p>
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-gray-900 text-base wow">C'est toute information relative à une personne physique susceptible d'être identifiée, directement ou indirectement</p>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-yellow-600 text-base wow">Personne concernéé : </p>
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-gray-900 text-base wow">c’est un utilisateur final dont les données à caractère personnel peuvent être recueillies.</p>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-yellow-600 text-base wow">Responsable de traitement : </p>
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-gray-900 text-base wow">C’est la personne morale (entreprise, commune, etc.) ou physique qui détermine les finalités et les moyens d’un traitement, c’est à dire l’objectif et la façon de le réaliser. En pratique et en général, il s’agit de la personne morale incarnée par son représentant légal.</p>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-yellow-600 text-base wow">Sous-traitant : </p>
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-gray-900 text-base wow">C’est la personne, l’entreprise ou un autre organisme qui traite des données à caractère personnel pour le compte du responsable du traitement tout en respectant les instructions dans le cadre de ses missions.</p>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-yellow-600 text-base wow">Destinataires : </p>
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-gray-900 text-base wow">Personne habilitée à obtenir communication de données enregistrées dans un fichier ou un traitement en raison de ses fonctions.</p>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-yellow-600 text-base wow">Tiers autorisé : </p>
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-gray-900 text-base wow">c’est un organisme qui peut accéder à certaines données contenues dans des fichiers publics ou privés parce qu'une loi l'y autorise expressément. Ces "tiers autorisés" sont des autorités publiques ou des auxiliaires de justice.</p>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-yellow-600 text-base wow">Traitement de données personnelles : </p>
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-gray-900 text-base wow">c’est une opération, ou ensemble d’opérations, portant sur des données personnelles, quel que soit le procédé utilisé. Les fichiers papier sont également concernés et doivent être protégés dans les mêmes conditions. Un traitement de données doit avoir un objectif, une finalité déterminée préalablement au recueil des données et à leur exploitation.</p>
            </div>
        </div>
        <!-- Article 1 div ends -->

        <!-- Article 2 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 2 : Protection de vos données personnelles</h4>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">LEGALCOM est une société du groupe OSP.</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Dans le cadre de l’utilisation de ses services et notamment des services accessibles sur son site internet, LEGALCOM, en qualité de sous-traitant, est susceptible de collecter des données à caractère personnel vous concernant.</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">LEGALCOM, tout comme OSP (14 rue Beffroy, 92200 Neuilly-sur-Seine), est attachée au respect des règles de protection de la vie privée de ses clients. L'ensemble des collectes de données personnelles mis en œuvre dans le cadre des services accessibles respecte la réglementation locale applicable en matière de protection des données personnelles et notamment les dispositions de la loi « informatique et libertés » du 6 janvier 1978 modifiée et le Règlement Général sur la Protection des Données (Règlement UE 2016/679) ou « RGPD ».</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">LEGALCOM veille à la bonne application de ces règles. LEGALCOM met également en œuvre les procédures internes adéquates afin de sensibiliser ses employés et d’assurer le respect de ces règles au sein de son organisation, notamment via sa « Charte Informatique et sensibilisation des collaborateurs ».</p>
            </div>
        </div>
        <!-- Article 2 div ends -->

        <!-- Article 3 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 3 : Protection de vos données personnelles</h4>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">LEGALCOM s'engage à garantir un niveau de protection élevé des données personnelles de ses clients et utilisateurs de son site internet et de toute autre personne dont elle traite les données personnelles.</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">LEGALCOM s'engage à respecter la règlementation applicable à l'ensemble des traitements de données personnelles qu'elle met en œuvre.</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Plus particulièrement, LEGALCOM s'engage notamment à respecter les principes suivants :</p>
                <ul>
                    <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Vos données personnelles sont traitées de manière licite, loyale et transparente (licéité, loyauté, transparence).</li>
                    <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Vos données personnelles sont collectées pour des finalités déterminées, explicites et légitimes, et ne sont pas traitées ultérieurement d'une manière incompatible avec ces finalités (limitation des finalités).</li>
                    <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Vos données personnelles sont conservées de manière adéquate, pertinente et sont limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont traitées (minimisation des données).</li>
                    <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Vos données personnelles sont exactes, tenues à jour et toutes les mesures raisonnables sont prises pour que les données inexactes, eu égard aux finalités pour lesquelles elles sont traitées, soient effacées ou rectifiées sans tarder (exactitude).</li>
                </ul>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">LEGALCOM met en œuvre les mesures techniques et organisationnelles appropriées afin de garantir un niveau de sécurité adapté au risque inhérent à ses opérations de traitement, répondre aux exigences règlementaires et protéger les droits et les données des personnes concernées dès la conception des opérations de traitement.</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Par ailleurs, LEGALCOM impose contractuellement le même niveau de protection des données personnelles à son hébergeur.</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Enfin, LEGALCOM s'engage à respecter tout autre principe s'imposant au regard de la règlementation applicable en matière de protection des données personnelles, et plus précisément concernant les droits conférés aux personnes concernées, les durées de conservation des données personnelles ainsi que les obligations relatives aux transferts transfrontaliers de données personnelles.</p>
            </div>
        </div>
        <!-- Article 3 div ends -->

        <!-- Article 4 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 4 : Responsable du traitement</h4>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Les finalités et les moyens d’un traitement sont déterminés par LEGALCOM, une société du groupe OSP, dont le siège social est au 14, rue Beffroy 92200 Neuilly-sur-Seine, EURL au capital de 5 000 €, 821 607 785 RCS Nanterre.</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Pour chaque registre ou concertation dématérialisé mis en place, le responsable du traitement est l’autorité organisatrice ou le maitre d’ouvrage du projet.</p>
            </div>
        </div>
        <!-- Article 4 div ends -->
    </div>
    <!-- Politique de confidentialité div ends -->

    <!-- Politique de traitement des données à caractère personnel div starts -->
    <div  v-if="show === 2" class="animated bg-white fadeInDown flex-wrap mb-16 top-0 rounded-2xl shadow-lg p-4 w-full wow">
        <!-- Article 1 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 1 : Données collectées</h4>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Dans le cadre de l'utilisation des Sites, l'Éditeur est susceptible de collecter les catégories de données suivantes concernant ses Utilisateurs :</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Civilité, Nom, Prénom, Adresses, Courriel, Adresse IP, Numéro de téléphone…</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Nous utilisons vos identifiants électroniques seulement pour et pendant l'exécution du contrat et uniquement pour l’accès aux services.</p>
            </div>
        </div>
        <!-- Article 1 div ends -->

        <!-- Article 2 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 2 : Destinataires</h4>
            </div>
            <div class="p-1 text-justify">
                <h2 class="mt-4 font-bold text-lg text-yellow-600 wow fadeInUp animated"><span class="text-blue-900 rounded-full text-xl font-bold px-3 py-2">1</span>Destinataires de vos données</h2>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Les données collectées sur les sites internet de LEGALCOM sont susceptibles d'être communiquées au personnel habilité par l’autorité organisatrice et/ou le maitre d’ouvrage à savoir :</p>
                <ul>
                    <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>L’autorité organisatrice et le maitre d’ouvrage elles-mêmes,</li>
                    <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>La commission d’enquête,</li>
                    <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Les intervenants du projet.</li>
                </ul>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Vos données ne font l'objet d'aucune communication à des tiers autre que le personnel habilité sauf dans le cas où vous ne souhaitez pas rester anonyme, qu’elles seront visibles dans le rapport ou le bilan du projet. Vous êtes toutefois informés qu'elles pourront être divulguées en application d'une loi, d'un règlement ou en vertu d'une décision d'une autorité réglementaire ou judiciaire compétente.</p>
            </div>
            <div class="p-1 text-justify">
                <h2 class="mt-4 font-bold text-lg text-yellow-600 wow fadeInUp animated"><span class="text-blue-900 rounded-full text-xl font-bold px-3 py-2">2</span>Transferts de données hors de l'Union Européenne</h2>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Pas de transfert en dehors de l'Union Européenne</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">L'Éditeur s'engage à ne pas transférer les données personnelles de ses Utilisateurs en dehors de l'Union européenne.</p>
            </div>
            <div class="p-1 text-justify">
                <h2 class="mt-4 font-bold text-lg text-yellow-600 wow fadeInUp animated"><span class="text-blue-900 rounded-full text-xl font-bold px-3 py-2">3</span>Information préalable et possibilité d’opt-out avant et après la fusion / acquisition</h2>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Dans le cas où nous prendrions part à une opération de fusion, d’acquisition ou à toute autre forme de cession d’actifs, nous nous engageons à garantir la confidentialité de vos données personnelles et à vous informer avant que celles-ci ne soient transférées ou soumises à de nouvelles règles de confidentialité.</p>
            </div>
        </div>
        <!-- Article 2 div ends -->

        <!-- Article 3 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 3 : Finalités de traitements</h4>
            </div>
            <div class="p-1 text-justify">
                <h2 class="mt-4 font-bold text-lg text-yellow-600 wow fadeInUp animated"><span class="text-blue-900 rounded-full text-xl font-bold px-3 py-2">1</span>Moyens de collecte de vos données</h2>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Dans le cadre de nos relations, vous êtes susceptible de nous communiquer vos données personnelles par différents moyens et notamment sur le courriel dédié au projet, lors d’un dépôt d’une observation sur le site, lors du dépôt d’une observation dans le registre papier, lorsque vous établissez tout contact avec LEGALCOM ou lorsque vous nous transmettez de toute autre manière vos données personnelles.</p>
            </div>
            <div class="p-1 text-justify">
                <h2 class="mt-4 font-bold text-lg text-yellow-600 wow fadeInUp animated"><span class="text-blue-900 rounded-full text-xl font-bold px-3 py-2">2</span>Finalités de traitements et bases juridiques</h2>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Vos données sont principalement utilisées à des fins d’établir un rapport d’enquête publique ou un bilan de concertation et d’études statistiques.</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Plus particulièrement, vos données sont utilisées :</p>
                <ul>
                    <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Pour les statistiques des visiteurs du site dédié,</li>
                    <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Pour les demandes d’informations ou de devis concernant nos services,</li>
                    <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Pour les outils d’analyses des observations déposées sur le site ou par courriel.</li>
                    <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Pour prendre contact avec vous à la suite d’une demande de rendez-vous téléphonique avec un commissaire enquêteur lors d’une permanence.</li>
                </ul>
            </div>
        </div>
        <!-- Article 3 div ends -->

        <!-- Article 4 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 4 : Vos droits</h4>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Conformément à la réglementation applicable en matière de protection des données personnelles, vous pouvez, à tout moment, exercer vos droits d'accès, de rectification, de suppression des données vous concernant ainsi que vos droits de limitation et d’opposition au traitement et à la portabilité de vos données personnelles sauf dans le cas où le traitement répond à une obligation légale.</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">En outre, vous disposez légalement du droit de définir des directives relatives au sort de vos données à caractère personnel post mortem.</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Ces droits s'exercent par courrier à l'adresse suivante :</p>
                <div class="align-left m-3">
                    <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">LEGALCOM</p>
                    <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Délégué à la Protection des Données</p>
                    <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">14 rue Beffroy</p>
                    <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">92200 Neuilly-sur-Seine</p>
                    <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">France</p>
                </div>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Ou par courriel à l’adresse : rgpd@registredemat.fr</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Dans ce cadre, nous vous prions de bien vouloir accompagner votre demande des éléments nécessaires à votre identification (nom, prénom, courriel) ainsi que toute autre information nécessaire à la confirmation de votre identité.</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Vous disposez également d'un droit de recours auprès de la Commission Nationale de l'Informatique et des Libertés en cas de violation de la réglementation applicable en matière de protection des Données Personnelles et notamment du RGPD.</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">LEGALCOM collaborera lorsque cela s’avèrera nécessaire pour garantir l’exercice de vos droits, ou vous apporter les réponses à toutes vos questions ou réclamations.</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">La collecte de certaines données personnelles est indispensable pour permettre l'accès à certains services ou prestations. Vous pouvez naturellement exercer votre droit d'opposition à la collecte et au traitement de ces données mais cette démarche peut entraîner l'impossibilité de bénéficier de ces services ou prestations.</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-yellow-600 text-base wow">Portabilité des données :</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">L'Éditeur s'engage à vous offrir la possibilité de vous faire restituer l'ensemble des données vous concernant sur simple demande. L'Utilisateur se voit ainsi garantir une meilleure maîtrise de ses données, et garde la possibilité de les réutiliser. Ces données devront être fournies dans un format ouvert et aisément réutilisable.</p>
            </div>
        </div>
        <!-- Article 4 div ends -->

        <!-- Article 5 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 5 : Sécurité</h4>
            </div>
            <div class="p-1 text-justify">
                <h2 class="mt-4 font-bold text-lg text-yellow-600 wow fadeInUp animated"><span class="text-blue-900 rounded-full text-xl font-bold px-3 py-2">1</span>Veille à la sécurité</h2>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Veiller à la sécurité et à la confidentialité des données personnelles que vous nous confiez est une priorité pour LEGALCOM. Nous nous engageons à mettre en œuvre toutes les mesures techniques et organisationnelles appropriées afin de garantir un niveau de sécurité adapté au regard des risques d'accès accidentels, non autorisés ou illégaux, de divulgation, d'altération, de perte ou encore de destruction des données personnelles vous concernant.</p>
            </div>
            <div class="p-1 text-justify">
                <h2 class="mt-4 font-bold text-lg text-yellow-600 wow fadeInUp animated"><span class="text-blue-900 rounded-full text-xl font-bold px-3 py-2">2</span>Bonnes pratiques</h2>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">La sécurité et la confidentialité des données personnelles reposent sur les bonnes pratiques de chacun. C'est la raison pour laquelle nous vous invitons à ne pas communiquer vos mots de passe à des tiers, à vous déconnecter systématiquement de votre profil et à fermer la fenêtre de votre navigateur à l'issue de votre session de travail, particulièrement si vous accédez à internet depuis un poste informatique partagé avec d'autres personnes (télétravail, poste libre en entreprise…). Vous éviterez ainsi que d'autres utilisateurs accèdent à vos informations personnelles et celles des internautes qui ont déposés leur observation.</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Nous vous déconseillons vivement de diffuser à des tiers ou de publier sur les réseaux sociaux tout document émis par LEGALCOM contenant vos données personnelles.</p>
            </div>
            <div class="p-1 text-justify">
                <h2 class="mt-4 font-bold text-lg text-yellow-600 wow fadeInUp animated"><span class="text-blue-900 rounded-full text-xl font-bold px-3 py-2">3</span>Information de l'utilisateur en cas de faille de sécurité</h2>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Dans l'éventualité où nous prendrions connaissance d'un accès illégal aux données personnelles vous concernant, stockées sur nos serveurs ou ceux de nos prestataires, ou d'un accès non autorisé ayant pour conséquence la réalisation des risques identifiés ci-dessus, nous nous engageons à :</p>
                <ul>
                    <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Vous notifier l'incident dans les plus brefs délais ;</li>
                    <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Examiner les causes de l'incident et vous en informer ;</li>
                    <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>Prendre les mesures nécessaires dans la limite du raisonnable afin d'amoindrir les effets négatifs et préjudices pouvant résulter dudit incident</li>
                </ul>
            </div>
            <div class="p-1 text-justify">
                <h2 class="mt-4 font-bold text-lg text-yellow-600 wow fadeInUp animated"><span class="text-blue-900 rounded-full text-xl font-bold px-3 py-2">4</span>Limitation de la responsabilité</h2>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">En aucun cas les engagements définis au point ci-dessus relatif à la notification en cas de faille de sécurité ne peuvent être assimilés à une quelconque reconnaissance de faute ou de responsabilité quant à la survenance de l'incident en question.</p>
            </div>
        </div>
        <!-- Article 5 div ends -->
    </div>
    <!-- Politique de traitement des données à caractère personnel div ends -->

    <!-- Politique de gestion des cookies div starts -->
    <div  v-if="show === 3" class="animated bg-white fadeInDown flex-wrap mb-16 top-0 rounded-2xl shadow-lg p-4 w-full wow">
        <!-- Article 1 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 1 : Définition</h4>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-gray-900 text-base wow">Un "cookie" est une suite d'informations, généralement de petite taille et identifié par un nom, qui peut être transmis à votre navigateur par un site web sur lequel vous vous connectez. Votre navigateur web le conservera pendant une certaine durée, et le renverra au serveur web chaque fois que vous vous y re-connecterez. Les cookies ont de multiples usages : ils peuvent servir à mémoriser votre identifiant client auprès d'un site marchand, le contenu courant de votre panier d'achat, un identifiant permettant de tracer votre navigation pour des finalités statistiques ou publicitaires, etc.</p>
            </div>
        </div>
        <!-- Article 1 div ends -->
        
        <!-- Article 2 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 2 : Durée de conservation des cookies</h4>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-gray-900 text-base wow">Pour chaque registre ou concertation dématérialisé, nous utilisons majoritairement des cookies qui s’autodétruisent à la déconnexion du site ou à la fermeture du navigateur.</p>
            </div>
        </div>
        <!-- Article 2 div ends -->

        <!-- Article 3 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 3 : Finalité cookies</h4>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-gray-900 text-base wow">Les cookies sont utilisés :</p>
                <ul>
                    <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>pour des fins de connexion à la session utilisateur,</li>
                    <li><span class="text-blue-900 rounded-full text-4xl font-bold px-3 py-2">.</span>par mesure de sécurité via un captcha sur le formulaire de dépôt d’une observation</li>
                </ul>
            </div>
        </div>
        <!-- Article 3 div ends -->

        <!-- Article 4 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 4 : Droit de l'Utilisateur de refuser les cookies, la désactivation entraînant un disfonctionnement du service</h4>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp inline leading-6 mb-1 text-gray-900 text-base wow">Vous reconnaissez avoir été informé que l'Éditeur peut avoir recours à des cookies, et l'y autorisez. Si vous ne souhaitez pas que des cookies soient utilisés sur votre terminal, la plupart des navigateurs vous permettent de désactiver les cookies en passant par les options de réglage. Toutefois, vous êtes informé que les services deviendront inaccessibles.</p>
            </div>
        </div>
        <!-- Article 4 div ends -->

        <!-- Article 5 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 5 : Liste des cookies</h4>
            </div>
            <div class="justify-center lg:w-2/3 md:w-2/3 m-auto sm:w-2/3 w-full">
                <div class="grid grid-cols-2">
                    <div class="bg-blue-900 border-b-2 border-white rounded-tl-lg text-white font-bold">Nom du cookie</div>
					<div class="border-2 border-blue-900 rounded-tr-lg">PHPSESSID</div>
                </div>
                <div class="grid grid-cols-2">
                    <div class="bg-blue-900 border-b-2 border-white text-white font-bold">Paramètre</div>
                    <div class="border-2 border-blue-900">identifiant</div>
                </div>
                <div class="grid grid-cols-2">
                    <div class="bg-blue-900 border-b-2 border-white text-white font-bold">Période de conservation maximale</div>
                    <div class="border-2 border-blue-900">Le temps de votre visite</div>
                </div>
                <div class="grid grid-cols-2">
                    <div class="bg-blue-900 rounded-bl-lg text-white font-bold">Objectif</div>
                    <div class="border-2 border-blue-900 rounded-br-lg">Enregistrer les sessions des utilisateurs afin de faciliter leurs connexions et mémoriser leurs préférences et heure de dernière activité.</div>
                </div>
            </div>
        </div>
        <!-- Article 5 div ends -->

        <!-- Article 6 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 6 : Compléments Google</h4>
            </div>
            <div class="p-1 text-justify">
                <h2 class="mt-4 font-bold text-lg text-yellow-600 wow fadeInUp animated"><span class="text-blue-900 rounded-full text-xl font-bold px-3 py-2">1</span>reCAPTCHA</h2>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Nous utilisons le service reCAPTCHA de Google Inc. (Google) pour protéger les entrées du formulaire de dépôt d’une observation sur un projet. Ce service est utilisé pour différencier les entrées faites par un être humain des abus automatisés. Cela implique l'envoi de l'adresse IP et éventuellement d'autres données requises par Google pour le service reCAPTCHA. À cette fin, vos données seront communiquées à Google et utilisées par leurs services. Toutefois, votre adresse IP sera préalablement raccourcie par Google dans les États membres de l'Union européenne - ou dans d'autres États qui font partie de l'accord sur l'Espace économique européen - et sera ainsi anonyme. Dans certains cas exceptionnels, votre adresse IP complète sera transmise à un serveur de Google aux États-Unis et raccourcie ensuite. Au nom de l'exploitant de ce site web, Google utilisera ces informations pour évaluer votre utilisation de ce service. L'adresse IP fournie par reCAPTCHA par votre navigateur ne sera pas fusionnée avec d'autres données de Google. Cette collection des données est sujette à la Charte de confidentialité de Google. Pour plus d'informations concernant la politique de confidentialité de Google, rendez-vous sur la page : <a class="text-blue-900 hover:text-yellow-600" href="https://policies.google.com/privacy?hl=fr" target="blank">https://policies.google.com/privacy?hl=fr</a></p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">En utilisant le service reCAPTCHA, vous consentez au traitement des données vous concernant par Google, de la manière et aux fins énoncées ci-dessus.</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Vous pouvez empêcher Google de collecter les données générées par JavaScript ou le cookie et relatives à votre utilisation du Site internet (y compris votre adresse IP) et de traiter ces données en empêchant l'exécution de JavaScript ou la mise en place de cookies dans les paramètres de votre navigateur. Veuillez noter que cela peut limiter la fonctionnalité de votre utilisation de notre Site internet.</p>
            </div>
            <div class="p-1 text-justify">
                <h2 class="mt-4 font-bold text-lg text-yellow-600 wow fadeInUp animated"><span class="text-blue-900 rounded-full text-xl font-bold px-3 py-2">2</span>Analytics</h2>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Les services d’analyse web Google Analytics de la société Google Inc. (Google) sont utilisés sur la partie site « vitrine » et non sur les sites dédiés aux enquêtes et espace privé (« Mon compte »).</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Google Analytics utilise des « Cookies », des données texte, qui sont enregistrées sur votre ordinateur (par votre navigateur Internet) et qui permettent d'analyser votre utilisation du site lors de votre visite. Les données récoltées via les Cookies concernant votre utilisation du site sont transférées sur un serveur de Google aux USA et enregistrées sur place. Dans le cas d'une activation de l'anonymisation de l'IP sur ce site, votre adresse IP sera toutefois compressée au préalable par Google, dans les Etats membres de l'Union Européenne ou dans les autres Etats membres du traité de l'espace économique européen. Seulement dans des cas exceptionnels, l'adresse IP complète sera transmise à un serveur de Google aux Etats-Unis et alors compressée. Google utilisera ces informations pour le compte du propriétaire de ce site, afin d'analyser votre utilisation du site, d'établir des rapports sur l'activité des visiteurs et fournir aussi des données aux services tiers liés à l'utilisation du site et d'Internet. Google ne reliera pas l'adresse IP transmise par votre navigateur dans le cadre de Google Analytics à d'autres données Google. Vous pouvez désactiver l'installation et l'utilisation des Cookies par un simple paramétrage de votre logiciel de navigation Internet; nous vous informons cependant qu'il est alors possible que vous ne puissiez accéder à toutes les fonctions du site de façon optimale. Mais vous pouvez empêcher l'enregistrement des données personnelles (incluant votre adresse IP) engendré par les Cookie et l'utilisation du site, ainsi que l'exploitation de ces données par Google, en téléchargeant et installant grâce au lien suivant le Plugin navigateur disponible : <a class="text-blue-900 hover:text-yellow-600" href="http://tools.google.com/dlpage/gaoptout" target="blank">http://tools.google.com/dlpage/gaoptout</a></p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Vous trouverez plus d'informations concernant les Règles de confidentialité et conditions d'utilisation de Google Analytics sur <a class="text-blue-900 hover:text-yellow-600" href="https://marketingplatform.google.com/about/analytics/terms/fr/" target="blank">https://marketingplatform.google.com/about/analytics/terms/fr/</a> ou dans la rubrique A propos de Google Analytics. Veuillez noter que sur ce site, le code Google Analytics "gat._anonymizeIp();" a été ajouté afin d'assurer la collecte des adresses IP de façon anonyme (IP masking).</p>
            </div>
        </div>
        <!-- Article 6 div ends -->
    </div>
    <!-- Politique de gestion des cookies div ends -->

    <!-- Politique d'archivage et de conservation des données div starts -->
    <div v-if="show === 4" class="animated bg-white fadeInDown flex-wrap mb-16 top-0 rounded-2xl shadow-lg p-4 w-full wow">
        <div class="p-1 text-justify">
            <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">LEGALCOM s’engage à conserver vos données personnelles pour une durée n'excédant pas celle nécessaire aux finalités pour lesquelles elles sont traitées. De plus, LEGALCOM conserve vos données personnelles conformément aux durées de conservation imposées par les lois applicables en vigueur.</p>
        </div>
        <!-- Article 1 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 1 : Conservation des données</h4>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Ces durées de conservation sont définies en fonction des finalités de traitement mis en œuvre par LEGALCOM et tiennent notamment compte des dispositions légales applicables imposant une durée de conservation précise pour certaines catégories de données, des éventuels délais de prescription applicables ainsi que des recommandations de la CNIL concernant certaines catégories de traitements de données.</p>
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Conformément à l'article 6-5° de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, les données à caractère personnel faisant l'objet d'un traitement ne sont pas conservées au-delà du temps nécessaire à l'exécution des obligations définies lors de la conclusion du contrat ou de la durée prédéfinie de la relation contractuelle.</p>
            </div>
        </div>
        <!-- Article 1 div ends -->

        <!-- Article 2 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 2 : Suppression des données après suppression du compte</h4>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Des moyens de purge de données sont mis en place afin d'en prévoir la suppression effective dès lors que la durée de conservation ou d'archivage nécessaire à l'accomplissement des finalités déterminées ou imposées est atteinte. Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous disposez par ailleurs d'un droit de suppression sur vos données que vous pouvez exercer à tout moment en prenant contact avec l'Éditeur.</p>
            </div>
        </div>
        <!-- Article 2 div ends -->

        <!-- Article 3 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 3 : Suppression des données</h4>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Pour des raisons de sécurité, si un intervenant ne s’est pas authentifié sur le Site pendant une période de deux ans, le compte permettant l’accès aux données seront supprimées de nos bases de données. Toutes les données et fichiers associés à un projet sont automatiquement supprimés au maximum 22 mois après la clôture du registre dématérialisé ou de la concertation.</p>
            </div>
        </div>
        <!-- Article 3 div ends -->

        <!-- Article 4 div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Article 4 : Suppression du compte à la demande</h4>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">L'Utilisateur a la possibilité de supprimer son Compte à tout moment, par simple demande à l'Éditeur.</p>
            </div>
        </div>
        <!-- Article 4 div ends -->
    </div>
    <!-- Politique d'archivage et de conservation des données div ends -->

    <!-- Contact et modifications div starts -->
    <div  v-if="show === 5" class="animated bg-white fadeInDown flex-wrap mb-16 top-0 rounded-2xl shadow-lg p-4 w-full wow">
        <!-- Contact div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Contact</h4>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">Pour toute question complémentaire relative à cette politique ou à la manière dont LEGALCOM collecte vos données personnelles, nous vous invitons à contacter notre responsable du traitement à l’adresse suivante : rgpd@registredemat.fr</p>
            </div>
        </div>
        <!-- Contact div ends -->
        <!-- Modifications div starts -->
        <div class="bg-transparent border-2 rounded-lg">
            <div class="p-1 text-justify">
                <h4 class="animated fadeInUp font-bold lg:text-4xl mb-8 md:text-4xl sm:text-4xl text-center text-lg text-blue-900 wow" data-wow-delay="0.3s">Modifications</h4>
            </div>
            <div class="p-1 text-justify">
                <p data-wow-delay="0.6s" class="fadeInUp leading-6 mb-1 text-gray-900 text-base wow">LEGALCOM se réserve le droit d'adapter la politique de confidentialité et de traitements des données personnelles et s’engage à vous informer sur son site internet des changements ou compléments.</p>
            </div>
        </div>
        <!-- Modifications div ends -->
    </div>
    <!-- Contact et modifications div ends -->
  </div>
</template>
<script>
export default {
  data(){
    return {
      show: 1, 
    }
  }
}
</script>