<template>
    <section class="fondsnake">
        <section class="bloc-premier min-h-screen">
            <article
                class="flex flex-row justify-center font-bold text-blue-900 text-4xl mb-16"
            >
                <h1>Nos offres</h1>
            </article>
            <section
                class="tricard bloc-premier flex flex-col items-start gap-20 md:flex md:flex-row md:items-start md:justify-between"
            >
                <section
                    :class="bessentiel ? 'hidden' : ''"
                    class="wow fadeInUp animated flex flex-col w-full gap-5 card-essentiel bg-white md:w-1/4 rounded-2xl shadow-lg p-4"
                    data-wow-delay="0.1s"
                    style="visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;"
                >
                    <article class="flex flex-row-reverse">
                        <img
                            class="w-3/12 h-3/12"
                            src="/images/home/essentiel.png"
                            alt="logoessentiel"
                        />
                    </article>
                    <article
                        class="bloc-premier text-center font-medium text-blue-900 text-2xl"
                    >
                        <h1>Essentiel</h1>
                    </article>
                    <article class="bloc-second text-center">
                        <p class="text-left">
                            <i
                                class="lni lni-checkmark-circle fill-current text-green-400 mr-2"
                            ></i
                            >Registre dématérialisé sécurisé
                        </p>
                    </article>
                    <article class="bloc-second text-center">
                        <p class="text-left">
                            <i
                                class="lni lni-checkmark-circle fill-current text-green-400 mr-2"
                            ></i
                            >Outils d'analyse et de statistiques (CE/AO/MO)
                        </p>
                    </article>
                    <article class="bloc-second text-center">
                        <button
                            @click="bessentiel = true"
                            class="bg-buttonessentiel mt-10 hover:bg-buttonconfort text-white font-bold py-3 px-10 rounded-full text-sm focus:outline-none"
                        >
                            Détails
                        </button>
                    </article>
                </section>
                <section
                    :class="bessentiel ? '' : 'hidden'"
                    class="wow fadeInDown animated flex flex-col gap-5 card-essentiel bg-white md:w-1/4 rounded-2xl shadow-lg p-4"
                    data-wow-delay="0.1s"
                    style="visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;"
                >
                    <article class="flex flex-row-reverse">
                        <img
                            class="w-3/12 h-3/12"
                            src="/images/home/essentiel.png"
                            alt="logoessentiel"
                        />
                    </article>
                    <article
                        class="bloc-premier text-center font-medium text-blue-900 text-2xl"
                    >
                        <h1>Essentiel</h1>
                    </article>
                    <article class="bloc-second text-center">
                        <p class="text-left">
                            <i
                                class="lni lni-checkmark-circle fill-current text-green-400 mr-2"
                            ></i
                            >Registre dématérialisé sécurisé
                        </p>
                    </article>
                    <article class="bloc-second text-center">
                        <p class="text-left">
                            <i
                                class="lni lni-checkmark-circle fill-current text-green-400 mr-2"
                            ></i
                            >Outils d'analyse et de statistiques (CE/AO/MO)
                        </p>
                    </article>
                    <article
                        class="bloc-premier border border-gray-300"
                    ></article>
                    <article class="bloc-second text-center text-sm">
                        <p class="text-left">
                            <span class="font-medium text-blue-900"
                                >URL du registre</span
                            ><br />
                            https://www/registredemat.fr/<span
                                class="font-medium"
                                >nom-projet</span
                            >
                        </p>
                    </article>

                    <article class="bloc-second text-center text-sm">
                        <p class="text-left">
                            <span class="font-medium text-blue-900"
                                >Modération</span
                            ><br />
                            Commission d'enquête
                        </p>
                    </article>
                    <article class="bloc-second text-center">
                        <i
                            class="lni lni-popup text-3xl fill-current text-gray-400"
                        ></i>
                    </article>
                    <article class="bloc-second text-center">
                        <ul
                            class="list-disc text-left text-base text-textdesc opacity-1"
                        >
                            <li>
                                Registre dématérialisé (dépôt des observations
                                et consultations)
                            </li>
                            <li>
                                Modération des observations
                            </li>
                            <li>
                                Réception des observations de la veille par
                                courriel
                            </li>
                            <li>
                                Hébergement
                            </li>
                            <li>
                                Espace Privé de la Commission d'enquête (Export,
                                Outils d'analyse et Statistiques)
                            </li>
                        </ul>
                    </article>
                    <article class="bloc-second text-center">
                        <button
                            @click="bessentiel = false"
                            class="bg-buttonessentiel mt-10 hover:bg-buttonconfort text-white font-bold py-3 px-10 rounded-full text-sm focus:outline-none"
                        >
                            Fermer
                        </button>
                    </article>
                </section>
                <section
                    :class="bpremium ? 'hidden' : ''"
                    class="wow fadeInUp animated flex flex-col gap-5 card-essentiel bg-white md:w-1/4 rounded-2xl shadow-lg p-4"
                    data-wow-delay="0.1s"
                    style="visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;"
                >
                    <article class="flex flex-row-reverse -mb-8">
                        <img
                            class="w-4/5 h-4/5"
                            src="/images/home/premium.png"
                            alt="logoessentiel"
                        />
                    </article>
                    <article
                        class="bloc-premier font-medium text-center text-blue-900 text-2xl"
                    >
                        <h1>Offre Premium</h1>
                    </article>
                    <article class="bloc-second text-center">
                        <p class="text-left">
                            <i
                                class="lni lni-checkmark-circle fill-current text-green-400 mr-2"
                            ></i
                            >Registre dématérialisé sécurisé
                        </p>
                    </article>
                    <article class="bloc-second text-center">
                        <p class="text-left">
                            <i
                                class="lni lni-checkmark-circle fill-current text-green-400 mr-2"
                            ></i
                            >Outils d'analyse et de statistiques (CE/AO/MO)
                        </p>
                    </article>
                    <article class="bloc-second text-center">
                        <p class="text-left">
                            <i
                                class="lni lni-checkmark-circle fill-current text-green-400 mr-2"
                            ></i
                            >Création de site et mise en ligne des documents de
                            l'enquête
                        </p>
                    </article>
                    <article class="bloc-second text-center">
                        <p class="text-left">
                            <i
                                class="lni lni-checkmark-circle fill-current text-green-400 mr-2"
                            ></i
                            >Nom de domaine dédié
                        </p>
                    </article>
                    <article class="bloc-second text-center">
                        <button
                            @click="bpremium = true"
                            class="bg-buttonpremium mt-4 hover:bg-red-500 text-white font-bold py-3 px-10 rounded-full text-sm focus:outline-none"
                        >
                            Détails
                        </button>
                    </article>
                </section>
                <section
                    :class="bpremium ? '' : 'hidden'"
                    class="wow fadeInDown animated flex flex-col gap-5 card-essentiel bg-white md:w-1/4 rounded-2xl shadow-lg p-4"
                    data-wow-delay="0.1s"
                    style="visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;"
                >
                    <article class="flex flex-row-reverse -mb-8">
                        <img
                            class="w-4/5 h-4/5"
                            src="/images/home/premium.png"
                            alt="logoessentiel"
                        />
                    </article>
                    <article
                        class="bloc-premier font-medium text-center text-blue-900 text-2xl"
                    >
                        <h1>Offre Premium</h1>
                    </article>
                    <article class="bloc-second text-center">
                        <p class="text-left">
                            <i
                                class="lni lni-checkmark-circle fill-current text-green-400 mr-2"
                            ></i
                            >Registre dématérialisé sécurisé
                        </p>
                    </article>
                    <article class="bloc-second text-center">
                        <p class="text-left">
                            <i
                                class="lni lni-checkmark-circle fill-current text-green-400 mr-2"
                            ></i
                            >Outils d'analyse et de statistiques (CE/AO/MO)
                        </p>
                    </article>
                    <article class="bloc-second text-center">
                        <p class="text-left">
                            <i
                                class="lni lni-checkmark-circle fill-current text-green-400 mr-2"
                            ></i
                            >Création de site et mise en ligne des documents de
                            l'enquête
                        </p>
                    </article>
                    <article class="bloc-second text-center">
                        <p class="text-left">
                            <i
                                class="lni lni-checkmark-circle fill-current text-green-400 mr-2"
                            ></i
                            >Nom de domaine dédié
                        </p>
                    </article>
                    <article
                        class="bloc-premier border border-gray-300"
                    ></article>
                    <article class="bloc-second text-center text-sm">
                        <p class="text-left">
                            <span class="font-medium text-blue-900"
                                >URL du registre</span
                            ><br />
                            https://www/registredemat.fr/<span
                                class="font-medium"
                                >nom-projet</span
                            >
                        </p>
                    </article>
                    <article class="bloc-second text-center text-sm">
                        <p class="text-left">
                            <span class="font-medium text-blue-900"
                                >Modération</span
                            ><br />
                            Commission d'enquête
                        </p>
                    </article>
                    <article class="bloc-second text-center text-sm">
                        <p class="text-left">
                            <span class="font-medium text-blue-900"
                                >Mise en ligne</span
                            ><br />
                            Registre Demat
                        </p>
                    </article>
                    <article class="bloc-second text-center">
                        <i
                            class="lni lni-popup text-3xl fill-current text-gray-400"
                        ></i>
                    </article>
                    <article class="bloc-second text-center">
                        <ul
                            class="list-disc text-left text-base text-textdesc opacity-1"
                        >
                            <li>
                                Registre dématérialisé (dépôt des observations
                                et consultations)
                            </li>
                            <li>
                                Modération des observations
                            </li>
                            <li>
                                Réception des observations de la veille par
                                courriel
                            </li>
                            <li>
                                Hébergement
                            </li>
                            <li>
                                Espace Privé de la Commission d'enquête (Export,
                                Outils d'analyse et Statistiques)
                            </li>
                        </ul>
                    </article>
                    <article class="bloc-second text-center">
                        <i
                            class="lni lni-website text-4xl fill-current text-gray-400"
                        ></i>
                    </article>
                    <article class="bloc-second text-center">
                        <ul
                            class="list-disc text-left text-base text-textdesc opacity-1"
                        >
                            <li>
                                Site internet dédié à l'enquête
                            </li>
                            <li>
                                Mise en ligne des informations de l'enquête
                                (Présentation, Déroulement et Modalités)
                            </li>
                            <li>
                                Mise en ligne des documents de l'enquête (DEUP
                                et Rapport)
                            </li>
                            <li>
                                Registres papiers (mise en ligne PDF)
                            </li>
                        </ul>
                    </article>
                    <article class="bloc-second text-center">
                        <i
                            class="lni lni-home text-3xl fill-current text-gray-400"
                        ></i>
                    </article>
                    <article class="bloc-second text-center">
                        <ul
                            class="list-disc text-left text-base text-textdesc opacity-1"
                        >
                            <li>
                                Nom de domaine dédié
                            </li>
                            <li>
                                Bannière d'entête personnalisée (Création
                                sur-mesure)
                            </li>
                            <li>
                                Liseuse interactive des documents du DEUP
                            </li>
                        </ul>
                    </article>
                    <article class="bloc-second text-center">
                        <button
                            @click="bpremium = false"
                            class="bg-buttonpremium mt-4 hover:bg-red-500 text-white font-bold py-3 px-10 rounded-full text-sm focus:outline-none"
                        >
                            Fermer
                        </button>
                    </article>
                </section>
                <section
                    :class="bconfort ? 'hidden' : ''"
                    class="wow fadeInUp animated flex flex-col gap-5 card-essentiel bg-white md:w-1/4 rounded-2xl shadow-lg p-4"
                    data-wow-delay="0.1s"
                    style="visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;"
                >
                    <article class="flex flex-row-reverse">
                        <img
                            class="w-3/5 h-3/5"
                            src="/images/home/confort.png"
                            alt="logoessentiel"
                        />
                    </article>
                    <article
                        class="bloc-premier text-center font-medium text-blue-900 text-2xl"
                    >
                        <h1>Confort</h1>
                    </article>
                    <article class="bloc-second text-center">
                        <p class="text-left">
                            <i
                                class="lni lni-checkmark-circle fill-current text-green-400 mr-2"
                            ></i
                            >Registre dématérialisé sécurisé
                        </p>
                    </article>
                    <article class="bloc-second text-center">
                        <p class="text-left">
                            <i
                                class="lni lni-checkmark-circle fill-current text-green-400 mr-2"
                            ></i
                            >Outils d'analyse et de statistiques (CE/AO/MO)
                        </p>
                    </article>
                    <article class="bloc-second text-center">
                        <p class="text-left">
                            <i
                                class="lni lni-checkmark-circle fill-current text-green-400 mr-2"
                            ></i
                            >Création de site et mise en ligne des documents de
                            l'enquête
                        </p>
                    </article>
                    <article class="bloc-second text-center">
                        <button
                            @click="bconfort = true"
                            class="bg-buttonconfort mt-10 hover:bg-buttonessentiel text-white font-bold py-3 px-10 rounded-full text-sm focus:outline-none"
                        >
                            Détails
                        </button>
                    </article>
                </section>
                <section
                    :class="bconfort ? '' : 'hidden'"
                    class="wow fadeInDown animated flex flex-col gap-5 card-essentiel bg-white md:w-1/4 rounded-2xl shadow-lg p-4"
                    data-wow-delay="0.1s"
                    style="visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;"
                >
                    <article class="flex flex-row-reverse">
                        <img
                            class="w-3/5 h-3/5"
                            src="/images/home/confort.png"
                            alt="logoessentiel"
                        />
                    </article>
                    <article
                        class="bloc-premier text-center font-medium text-blue-900 text-2xl"
                    >
                        <h1>Confort</h1>
                    </article>
                    <article class="bloc-second text-center">
                        <p class="text-left">
                            <i
                                class="lni lni-checkmark-circle fill-current text-green-400 mr-2"
                            ></i
                            >Registre dématérialisé sécurisé
                        </p>
                    </article>
                    <article class="bloc-second text-center">
                        <p class="text-left">
                            <i
                                class="lni lni-checkmark-circle fill-current text-green-400 mr-2"
                            ></i
                            >Outils d'analyse et de statistiques (CE/AO/MO)
                        </p>
                    </article>
                    <article class="bloc-second text-center">
                        <p class="text-left">
                            <i
                                class="lni lni-checkmark-circle fill-current text-green-400 mr-2"
                            ></i
                            >Création de site et mise en ligne des documents de
                            l'enquête
                        </p>
                    </article>
                    <article
                        class="bloc-premier border border-gray-300"
                    ></article>
                    <article class="bloc-second text-center text-sm">
                        <p class="text-left">
                            <span class="font-medium text-blue-900"
                                >URL du registre</span
                            ><br />
                            https://www/registredemat.fr/<span
                                class="font-medium"
                                >nom-projet</span
                            >
                        </p>
                    </article>
                    <article class="bloc-second text-center text-sm">
                        <p class="text-left">
                            <span class="font-medium text-blue-900"
                                >Modération</span
                            ><br />
                            Commission d'enquête
                        </p>
                    </article>
                    <article class="bloc-second text-center text-sm">
                        <p class="text-left">
                            <span class="font-medium text-blue-900"
                                >Mise en ligne</span
                            ><br />
                            Registre Demat
                        </p>
                    </article>
                    <article class="bloc-second text-center">
                        <i
                            class="lni lni-popup text-3xl fill-current text-gray-400"
                        ></i>
                    </article>
                    <article class="bloc-second text-center">
                        <ul
                            class="list-disc text-left text-base text-textdesc opacity-1"
                        >
                            <li>
                                Registre dématérialisé (dépôt des observations
                                et consultations)
                            </li>
                            <li>
                                Modération des observations
                            </li>
                            <li>
                                Réception des observations de la veille par
                                courriel
                            </li>
                            <li>
                                Hébergement
                            </li>
                            <li>
                                Espace Privé de la Commission d'enquête (Export,
                                Outils d'analyse et Statistiques)
                            </li>
                        </ul>
                    </article>
                    <article class="bloc-second text-center">
                        <i
                            class="lni lni-website text-4xl fill-current text-gray-400"
                        ></i>
                    </article>
                    <article class="bloc-second text-center">
                        <ul
                            class="list-disc text-left text-base text-textdesc opacity-1"
                        >
                            <li>
                                Site internet dédié à l'enquête
                            </li>
                            <li>
                                Mise en ligne des informations de l'enquête
                                (Présentation, Déroulement et Modalités)
                            </li>
                            <li>
                                Mise en ligne des documents de l'enquête (DEUP
                                et Rapport)
                            </li>
                            <li>
                                Registres papiers (mise en ligne PDF)
                            </li>
                        </ul>
                    </article>
                    <article class="bloc-second text-center">
                        <button
                            @click="bconfort = false"
                            class="bg-buttonconfort mt-10 hover:bg-buttonessentiel text-white font-bold py-3 px-10 rounded-full text-sm focus:outline-none"
                        >
                            Fermer
                        </button>
                    </article>
                </section>
            </section>
        </section>
    </section>
</template>

<script>
export default {
    data() {
        return {
            bessentiel: false,
            bpremium: false,
            bconfort: false
        };
    }
};
</script>

<style></style>
