.bloc-devis {
    &__titre {
    }
}

body {
    margin: 0;
    padding: 0;
}

.bloc-image {
    height: 100vh;
    > img {
        width: 100%;
        height: 100%;
    }
}

.bloc-image2 {
    > img {
        width: 100%;
        height: 100%;
    }
}

.bloc {
    height: auto;
    border: 3px;
    box-sizing: border-box;
}

.bloc-premier {
    width: 82%;
    margin: auto;
}
.bloc-second {
    width: 90%;
    margin: auto;
}
.card-essentiel {
    height: unset;
}
.fondsnake {
    background-image: url("/images/home/snake.png");
    background-size: contain;
    background-position-y: 100px;
    background-repeat: no-repeat;
}

.contactC {
    background-image: url("/images/home/contactfond.png");
    background-size: cover;
    background-size: 97%;
    background-repeat: no-repeat;
}

.conttitre {
    font-size: 2.25rem;
    --text-opacity: 1;
    color: #2f327d;
    font-weight: 700;
    letter-spacing: 0.025em;
}

@media screen and (max-width: 399px) {
    .textlegalcom1 {
        display: none;
    }
}

@media screen and (min-width: 400px) {
    .textlegalcom2 {
        display: none;
    }
}

.textcgv {

    font-size: 14px;
    text-align: justify;
}

.textcgv h2 {
    font-weight: 500;
    font-size: 1.4em;
    color: #108faf;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}
