.offrebonus {
    font-weight: bold;
    line-height: 2;
}

.iconcol {
    color: #0b90ae;
}

.icoffre > i {
    color: white;
}

.taboff {
    width: 20rem;
    height: 28rem;
}

.titretabphone2 {
    height: 112px;
    width: 50%;
}

.titretabphone {
    height: 112px;
    width: 50%;
}

.buttonpresuiv {
    height: 30px;
    width: 30px;
}

.titreswitch {
    height: 60px;
    width: 50%;
}

.icontab1 {
    color: #6abad2;
}

.icontab2 {
    color: #2695b2;
}

.icontab3 {
    color: #949ed1;
}

@media screen and (min-width: 968px) {
    .offers-table2 {
        display: none;
    }
}

@media screen and (max-width: 967px) {
    .offers-table {
        display: none;
    }
}
